[2015-02-25 00:10] bjhaid opened #7 "Properly handle/report all kafka exceptions"

[2015-02-25 00:10] bjhaid opened #8 "Add docs/specs"

[2015-02-25 00:11] bjhaid opened #9 "Add infinite fetch loop API for GenEvent handler support"

[2015-03-06 21:51] jacklund opened #11 "Use structs rather than maps for the metadata"
Right now, we're using nested maps as the data structure for the metadata we get back, which directly parallels the data being returned from Kafka. We would like to, instead, return structs for the metadata, the topics, and the partitions.

[2015-03-06 21:52] #9 closed

[2015-03-06 22:27] jacklund opened #12 "Get KafkaEx.offset to work"
Broken right now when you specify a date time.

[2015-03-07 06:47] bjhaid commented on #8
closed via 7b9a449fa4f207cd12507b72bb487381a6ab9747

[2015-03-07 06:47] #8 closed

[2015-03-27 05:04] bjhaid opened #14 "Add Consumer Groups"

[2015-03-27 14:32] jacklund commented on #14
:+1:

[2015-03-30 00:35] #12 closed

[2015-04-19 15:54] jacklund opened #19 "Add support for compression"

[2015-04-19 15:54] jacklund opened #20 "Add support for batching"

[2015-04-19 15:57] jacklund opened #21 "Add configurable support for opting out of auto-discovery of nodes"

[2015-04-30 14:55] dantswain commented on #14
Have you guys had any chance to look at implementing this?  I'm interested in seeing it get done and might be able to help.

[2015-04-30 15:01] bjhaid commented on #14
@dantswain We have a WIP branch, we would work on it tomorrow and possibly check back this weekend

[2015-04-30 15:05] dantswain commented on #14
Is the branch published?  I'd be happy to review.

[2015-05-01 23:24] bjhaid commented on #14
@dantswain https://github.com/bjhaid/kafka_ex/tree/consumer_group

[2015-05-20 22:37] #14 closed

[2015-06-21 23:39] bjhaid commented on #11
closed with: https://github.com/jacklund/kafka_ex/commit/722a7768fc32a3bead68bd5df5a8dd68d7c43523

[2015-06-21 23:39] #11 closed

[2015-06-26 23:04] fbjork opened #26 "Exception raised when producing"
Hi,

I'm using kafka_ex 0.0.2 in a Phoenix app and I get an exception when I try to produce a message:

Here's the output:

[code]

Any idea what's wrong?

[2015-06-28 23:52] jacklund commented on #26
What version are you using? Is it the latest?

Here's what I get when I run your example:

[code]

Do you have your `config/config.exs` pointing to the published IP address of your Kafka server?

[2015-06-29 19:10] fbjork commented on #26
@jacklund this is the latest version (0.0.2).

Also, my kafka version is 0.8.2.1

Any ideas?

[2015-06-29 19:28] fbjork commented on #26
Also worth noting that this is a Phoenix app, not sure if it matters.

[2015-06-29 20:04] joshrotenberg opened #27 "Using KafkaEx term for config doesn't work when creating a release with exrm"
The application name in mix.exs is :kafka_ex but the calls to get_env (and the documentation) use KafkaEx as the key. This seems to work when run via iex -S mix in a project but breaks when I generate a release. See https://github.com/joshrotenberg/relthing for an example with errors. Changing the two calls to Applciation.get_env to use :kafka_env and using that in my config seems to solve the iss

[2015-07-03 12:21] gaynetdinov commented on #26
The same here.

[2015-07-06 12:25] jacklund commented on #26
Verified in 0.0.2. I'll work on getting a working version (possibly the latest one) released as 0.0.3 today.

[2015-07-08 00:45] #27 closed

[2015-07-08 01:46] jacklund commented on #26
I've released version 0.1.0. That should fix this issue (not to mention add a good bit of functionality).

Let me know if there are still issues.

[2015-07-10 15:20] bjhaid commented on #14
@dantswain https://hex.pm/packages/kafka_ex/0.1.0
http://hexdocs.pm/kafka_ex/0.1.0/

[2015-07-10 15:21] dantswain commented on #14
:+1:!

On Fri, Jul 10, 2015 at 11:20 AM, Àbéjídé Àyodélé <notifications@github.com>
wrote:

[2015-07-16 02:56] bjhaid commented on #26
@fbjork @gaynetdinov bump, does 0.1.0 fix your issues, so we can close this

[2015-07-16 13:08] gaynetdinov commented on #26
So I changed version of the `kafka_ex` from `0.0.2` to `0.1.0` in the `mix.exs` file, then I ran `mix deps.get` and `mix phoenix.server` and after that I got the following error:
[code]

I even didn't change ip address of the kafka server from `10.90.29.80` to `localhost` in the `config.exs` file.

[2015-07-16 13:30] bjhaid commented on #26
@gaynetdinov your `config.exs` should contain something like:

[code]

I would update the README to reflect the correct thing

[2015-07-16 13:40] gaynetdinov commented on #26
@bjhaid ah sorry, I missed that. Now it works, thanks! But I got another problem: once I send one message to kafka, after 10-20 seconds I can see the following error in the log:

[code]

This error message is repeated every ~15 seconds and kafka itself also writes the following error also every 10-15 seconds:

[code]

[2015-07-16 13:51] bjhaid commented on #26
@gaynetdinov what version of kafka are you running, the problem is the worker does not get to create a consumer_group on start, and we are assuming that there is always a coordinator when we try to refresh our internal state, it is a supervised process, so it should get restarted correctly, and probably might not affect you except with it logging restarts, once you get back with your kafka version

[2015-07-16 13:57] gaynetdinov commented on #26
@bjhaid because of the reasons I have to use a bit outdated version of kafka, I'm using 0.8.0 release: `kafka_2.8.0-0.8.0` version. Thank you the quick reply!

[2015-07-16 14:05] bjhaid commented on #26
@gaynetdinov ah that's why, the feature is supported in kafka 0.8.2, we would fix this so we don't break usability for older versions of kafka.

[2015-07-16 14:06] gaynetdinov commented on #26
Cool! :+1:

[2015-07-19 22:54] #20 closed

[2015-07-20 14:23] sulphur opened #31 "Stream consumer not starting"
Do you guys have some guidelines for creating the consumer. I spotted that when i lunch a consumer directly on app start it is unable to find the topic. From what i succeed to see it might be linked to the fact that it can't find a broker. In ```KafkaEx.Protocol.ConsumerMetadata``` on line 7 the ```consumer_group_metadata.coordinator_host``` is nil

If i create a GenServer after few seconds and la

[2015-07-20 14:49] sulphur commented on #31
For example is there a way to know when the worker got all the information and is capable of streaming ?

[2015-07-20 19:38] bjhaid commented on #31
What version of kafka are you running?
How do you launch your consumer?
If you try `Kafka.fetch/3` do you get the same problems?

I don't think it has anything to do with consumer_groups if there is no `coordinator_host` it shouldn't stop the consumer from getting messages, the only explanation I have is that there is no message to consume and the worker would keep retrying sleeping 500ms in betwe

[2015-07-24 17:28] sulphur commented on #31
With KafkaEx.fetch it works great. I actually finished by doing my consumers with fetch method and it works good.
I have another problem then When one of my brokers is going down (i kill it) the kafka_ex app is shutting down. I think it should restart itself or is it volontary ?

[2015-07-24 18:14] bjhaid commented on #31
If `KafkaEx.fetch` works `KafkaEx.stream` should work, they are doing about the same thing under the covers

If you have a cluster of brokers, when you take one out, `kafka_ex` should smartly detect that it is down, with help from `kafka` and it would not talk to it anyone, however if your entire cluster is down (or you have only one broker), the worker would fail, the supervisor would try restart

[2015-07-30 08:50] sulphur commented on #31
In my case i have 3 brokres on my local machine. I'm running a consumers in tasks processes that are using KafkaEx.fetch

For instance if i do this in console :
```iex(14)> KafkaEx.fetch("k_users",2,[offset: 775, worker_name: :pr])```

I got following error if leader for partition 2 is down :

[code]

And after that kafka_en is shut down and i cannot restart is (i need to re-launch iex)

[2015-07-30 13:31] bjhaid commented on #31
@sulphur this is a bug, we would fix, I would get back to you once it is fixed

[2015-07-31 02:09] #31 closed

[2015-07-31 02:10] bjhaid commented on #31
@sulphur this is fixed, we would coordinate a new release for this, thanks for catching this

[2015-07-31 07:50] sulphur commented on #31
cool thank you.

[2015-08-02 03:33] bjhaid commented on #7
closed with https://github.com/jacklund/kafka_ex/commit/8fcd2c8b56a3652735a6867ec18b06380d0727e9

[2015-08-02 04:57] #7 closed

[2015-09-16 21:27] dantswain commented on #19
@jacklund Has any work been done on this, or any design ideas discussed?  I have some ideas and might be able to subsidize some time since it would help me a lot at work :)

[2015-09-21 23:04] bjhaid commented on #26
closed with https://github.com/kafkaex/kafka_ex/releases/tag/0.2.0 published https://hex.pm/packages/kafka_ex/0.2.0

[2015-09-21 23:04] #26 closed

[2015-09-22 17:56] dantswain opened #37 "Snappy not resolving as a dependency"
With a new project and

[code]

in the `mix.exs` file, I do a `mix deps.get`, `mix deps.compile`, and `iex` fails with

[code]

Inspection of `mix.lock` shows that snappy was not resolved as a dependency.

I'm not sure why this is happening - I put snappy in the KafkaEx `mix.exs`.  Manually adding snappy as a dependency to the downstream project should resolve it in an emergency, but this should b

[2015-09-23 00:10] dantswain opened #38 "Snappy not handling chunked compression data"
When the message size gets over around 1kb, snappy uses chunked compression and the decompress operation is not working correctly.

I should have a patch for this within the next day or so (it's blocking me at work).

[2015-09-23 00:39] dantswain opened #40 "KafkaEx.Protocol.Produce.Message default values should be nil"
I'm not sure if there's really a difference in the messages that are produced, but it does cause problems with testing when the parsing correctly parses a nil value.

[2015-09-23 01:05] #38 closed

[2015-09-23 01:12] #40 closed

[2015-09-23 01:15] bjhaid commented on #37
Asked on irc, and Eric said the project has to be an hex project for it to resolve correctly.

![screen shot 2015-09-22 at 8 14 16 pm](https://cloud.githubusercontent.com/assets/593852/10036017/962a91c2-6166-11e5-9bbb-6a35b86d0556.png)

[2015-09-23 03:01] dantswain commented on #37
Hm.  I didn't realize that.

I guess the thing that makes the most sense is to

a) remove snappy from kafka_ex's mix.exs
b) add directions to the README about how to add it manually

I can make a PR tomorrow.

I can also try to bug the snappy maintainer to push to hex...

[2015-10-07 00:07] mzemel commented on #37
:+1:

[2015-10-07 00:16] mzemel opened #43 "A flag to disable this app while testing other applications"
I don't mean tests for this project.  I mean projects that have this application as a dependency.

I tried running `mix test --no-start` in my Phoenix project's directory, but I got:

[code]

If I try to run `mix test` without Kafka running, I get:

[code]

It would be really cool if there was a flag I could set so I didn't have to build and run a Kafka cluster every time I test my Phoenix applica

[2015-10-07 00:51] bjhaid commented on #43
you can exempt it in your `mix.exs` with something like:

[code]

I think you should be dealing with when and how you want `kafka_ex` to start in your application

[2015-10-07 01:10] mzemel commented on #43
Ah, thank you.  That works for me!

[2015-10-07 01:10] #43 closed

[2015-10-07 01:16] #37 closed

[2015-10-11 21:58] dantswain opened #45 "AutoCommit of offsets does not work for custom consumer groups"
I think the issue lies here (note the `consumer_group` field of the request is not set): https://github.com/kafkaex/kafka_ex/blob/bbba99187d30be01e77057c075b7a379fbcbe386/lib/kafka_ex/server.ex#L278

I'm making changes to the integration test to verify and then try to fix.

[2015-10-14 00:16] #45 closed

[2015-11-13 18:04] trungpham opened #47 "missing partition number when streaming without offset."
https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex.ex#L251
it does not pass in the partition number when trying to retrieve the offset.

[2015-11-13 18:13] trungpham opened #48 "more near real time streaming"
it seems like there is a half a second pause in between fetches.
https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/server.ex#L152

maybe we can wake up the stream whenever there is a `produce` event.

[2015-11-13 18:13] bjhaid commented on #47
Thanks for catching that, can you submit a pull request to fix this, thanks!

[2015-11-27 14:01] ibizaman opened #50 "Why use worker names instead of PIDs ?"
Hi,

First of all thank you for this great library!

I was wondering why do you require a name for kafka_workers? Why not being simply anonymous? `KafkaEx.create_worker` returns a PID after all.
This can be cumbersome for implementing a pool of workers for example. And furthermore it is considered bad practice to create a lot of atoms since they live forever in memory.

[2015-11-27 15:20] bjhaid commented on #50
This is all for convenience of the user you can easily remember an atom but not a pid, with this approach you also don't need to store the return value of `KafkaEx.create_worker`, just pass your atom in and you are fine. Also if you really need your pid afterwards you can always get it back with [Process.whereis/1](http://elixir-lang.org/docs/v1.1/elixir/Process.html#whereis/1)

[code]

The above

[2015-11-27 15:25] bjhaid commented on #48
This is tricky as you don't know if the produce event should result in a streaming event.

[2015-11-27 15:26] #21 closed

[2015-11-28 14:15] ibizaman commented on #50
All valid points, thanks!

By curiosity, would you be okay with allowing a `nil` value for `worker_name` and then not registering the name ?

[2015-11-28 14:21] ibizaman opened #52 "Allow init arguments for stream handler"
It would be awesome if we could give custom arguments to GenEvent handlers started by calling [`stream`](https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex.ex#L244).

This way I could add an initial state for example, or a callback function to be called by a custom handler.

Would you accept a PR doing that ?

[2015-11-28 15:23] bjhaid commented on #52
Send in a PR

[2015-11-28 15:49] bjhaid commented on #50
NO, the atom is passed to `GenServer` which does the registration of the worker.

What problem are you trying to solve, maybe I can help clarify the approach

[2015-11-28 16:33] ibizaman commented on #50
Yes sorry about that, our conversation looks like the typical X - Y problem.

My first problem is that I wanted to be able to dynamically connect and disconnect to a kafka host. By dynamically, I mean the connection is not part of the supervision tree initialization stage. I need this because my final app can be started without connecting to kafka.

For that, I replaced the stock KafkaEx Superviso

[2015-11-28 21:02] bjhaid commented on #50
You can omit `:kafka_ex` from the list of applications to be started in `mix.exs` and manually start it with [`Appllication.start/2`](http://elixir-lang.org/docs/v1.1/elixir/Application.html#start/2) and stop it with [`Application.stop/1`](http://elixir-lang.org/docs/v1.1/elixir/Application.html#stop/1).

Omitting the connection from the supervision initialization is tricky because when underlying

[2015-11-28 21:42] bjhaid commented on #50
Below is how I will implement what you intend without a custom handler
[code]

With a custom Handler

[code]

Maybe allowing the user to supply custom data to the stream function that is passed with the message to the handler might make this simpler., that way you can reuse the same handler.

[2015-11-29 00:15] ibizaman commented on #50
This is great, much, much simpler than what I planned for.

In fact, this is what I wanted to do and created #52 related to that.

About this, would using a supervisor supervising `KakfaEx.GenServer` with `strategy: simple_one_to_one` and `restart: transient` and launching it with `start_child` do the trick? Or a similar spec but still using `start_child`?

[2015-11-29 03:43] bjhaid commented on #50
Is there anything you intend to achieve that the current supervisor doesn't provide?

[2015-11-29 08:16] ibizaman commented on #50
Well in fact I don't know, I was wondering what options are there to handle the socket problem you were describing.

[2015-11-29 09:40] ibizaman commented on #50
I remember why using Application.start could not work in my case: the [start](https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex.ex#L272) function doesn't care about its arguments and always read configuration values from the app env. I wanted to be able to change this dynamically, or even simply have two different connections.

[2015-11-29 14:34] bjhaid commented on #50
The current code solves this problem, the socket belongs to the workers and is created as part of their initialization, when the get restarted by their supervisor a new socket is correctly created.

You should put a default configuration in your app env and you can always pass kafka uris and consumer_group as a second argument to `KafkaEx.create_worker/2` which will not use the configuration value

[2015-11-29 14:36] bjhaid commented on #50
I think most of your confusion might have been made easier with simpler documentation, I might spend sometime trying to pick things from the discussion into the docs or you can PR whatever you have learnt

[2015-11-29 16:14] ibizaman commented on #50
I'll come up with a PR (which will close this issue). Thanks for all the info!

[2015-11-29 16:18] #47 closed

[2015-11-29 18:06] #19 closed

[2015-11-29 18:11] #48 closed

[2015-11-30 01:00] #52 closed

[2015-11-30 17:49] beedub opened #54 "Fetch offset"
[KafkaEx.fetch](https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex.ex#L148) fetches messages using the last_offset provided by the last_offset api. Kafka looks to be returning messages starting from that offset (as opposed to starting after that offset), meaning that fetches will always include the last message consumed. I would have expected that the consumer would only fetch new messag

[2015-12-02 08:24] ibizaman commented on #54
Hi, I don't know about 1. but about 2. you could simply use `last_offset + 1` instead of tracking the offset yourself.

[2015-12-02 13:40] bjhaid commented on #54
@beedub sorry for my late response

No we should be moving the offset by 1 (`last_offset + 1`)

No, please send in a PR to fix this if you can or use @ibizaman suggestion as I stop gap till I can fix it.

Thanks!

[2015-12-03 17:35] beedub commented on #54
@bjhaid working on the changes now

[2015-12-04 16:28] beedub opened #56 "CI?"
Is there CI set up for this project? The github readme displays that the build is passing even though some tests are failing (in consumer group)

[2015-12-04 16:44] bjhaid commented on #56
CI is on [travis](https://travis-ci.org/kafkaex/kafka_ex), `consumer_group` failures will require 2 runs of the spec file (because of the time kafka will require to create the group)

[2015-12-04 16:45] bjhaid commented on #56
see [.travis.yml](https://github.com/kafkaex/kafka_ex/blob/master/.travis.yml)

[2015-12-04 16:47] beedub commented on #56
Ah got it. Is it free to add travis ci automatic builds for pull requests? (eg. https://github.com/elixir-lang/elixir/pull/4037)

[2015-12-04 16:49] beedub commented on #56
Can you elaborate? Running `mix test test/integration/consumer_group_test.exs:105` consistently fails (ie rerunning it doesn't make it pas)

[2015-12-04 17:04] bjhaid commented on #56
Yes it's automatically added.

Kafka does coordination election/setting up consumer_group after we make a request for the `consumer_group_metadata` (they are providing a better a API to create consumer_groups but this is what we have for now, there might be ways to create them from the shell tool, I have not verified), we probably need to sleep in-between when the worker is created and when we sta

[2015-12-04 17:06] beedub commented on #56
Oh, I meant in terms of having it visible in the github pr ui as a check (the green check mark or red cross)

Ok, I'll try to see what's happening with my particular setup. Thx!

[2015-12-07 00:01] #54 closed

[2015-12-07 00:04] #56 closed

[2015-12-16 12:55] ibizaman opened #60 "Make elixir handle kafka daemons"
For now testing the app means first launching 3 separate kafka daemons by hand and also cleaning up by hand. Furthermore, there is no way to tweak the ports used by the daemons. In my case, one of the port clashes with the "production" server.

I propose to make elixir setup and monitor the kafka daemons. I don't see any cons for that apart from the coding time. The pros are:
* dynamic configurati

[2015-12-18 20:23] bjhaid commented on #60
You can send in a PR and lets see how it looks.

[2016-01-05 21:38] ibizaman commented on #60
Hi,

I have a branch working with this right now but I still get errors in the tests. Those errors are I suppose related to your comment [here](https://github.com/kafkaex/kafka_ex/issues/56#issuecomment-162022778) because by running the tests twice (and of course stopping the kafka daemons in between), different test case fail.

With this PR, the kafka daemon are started before the tests and stopp

[2016-01-05 22:55] bjhaid commented on #60
I might have to see your branch to have an idea of what you are doing, but I would assume making them mix tasks should be adequate, also kafka 0.9.0 introduces some new API that should solve some of the `consumer_groups` woes

[2016-01-08 20:25] #50 closed

[2016-01-09 18:07] ibizaman commented on #60
This exists, although I do not know if that can be of any help though: https://github.com/chbatey/kafka-unit.

[2016-01-16 15:26] marten opened #63 "Does not work correctly when a string hostname contains four sets of numbers"
I'm trying to connect over an SSH tunnel, and have told my `/etc/hosts` file to resolve the configured broker host `ip-10-4-1-11` to resolve to `127.0.0.1`. However, since KafkaEx tries to parse IP addresses, this does not work, and it tries to connect to `10.4.1.11` instead (bypassing my hosts-file).

The issue seems to be [here](https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/networ

[2016-01-16 16:14] bjhaid commented on #63
You are correct, thanks for reporting this, I am pushing a fix shortly

[2016-01-16 16:15] #63 closed

[2016-01-16 20:20] marten commented on #63
That was quick! You're awesome!

[2016-01-16 21:31] bjhaid commented on #63
let me know if you want me to publish a new version with this fix in it, I can get that done sometimes this weekend

[2016-02-06 22:46] barruumrex opened #65 "Multi-Partition Timeout"
We're attempting to setup a group of workers to watch all of our partitions for certain events, transform them, and dump them into rethinkdb. We're running into an issue where certain workers are timing out and not being correctly restarted by the supervisor. Are we running into a bug with the supervision strategy or are we just doing this wrong? Would appreciate your assistance when you've got th

[2016-02-06 23:13] barruumrex commented on #65
Realized shortly after writing this that the workers are getting restarted correctly, it's that the stream doesn't get restarted. I assume that the correct thing to do is to setup my own application and link my processes to the kafka_ex workers. Link each process so that it dies when its associated worker dies, it also dies. When they get restarted, they re-establish the stream.

[2016-02-06 23:16] bjhaid commented on #65
I was writing a response when you responded, :+1:  to your approach.

[2016-02-07 03:50] barruumrex commented on #65
So we finished changing over to supervised workers that start and process the steam. Unfortunately the error that was killing the workers earlier happens a lot. We had to bump up the restart count in order to prevent kafka_ex from just bringing down the application. I plan to spend some time tomorrow digging in to figure out where that error is coming from. Hopefully we'll have a pull request soon

[2016-02-07 04:13] bjhaid commented on #65
From the stacktrace you shared the error is happening somewhere here https://github.com/kafkaex/kafka_ex/blob/0.3.0/lib/kafka_ex/network_client.ex#L28-L46, network related I guess

[2016-02-07 04:28] barruumrex commented on #65
Yeah. Looks like it's just timeout errors. Probably just a problem with us being on the vpm. It's solid as a rock now that I've recompiled that file with a longer default timeout. Is there a way to set the default timeout based on configuration environment? Would be nice to set the higher for dev/test and then drop it back low for prod.

[2016-02-07 04:36] bjhaid commented on #65
You can PR making the worker spec configurable

[2016-02-07 07:09] barruumrex commented on #65
PR is up. Let me know if there's anything else I need to do with it.

[2016-02-07 14:18] bjhaid commented on #65
The PR is great, what you have modified is better than what I was proposing ([worker_spec](https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/supervisor.ex#L13)). See my comments on the PR

[2016-02-07 14:59] bjhaid opened #67 "Update consumer group API to support kafka 0.9.0"
`ConsumerMetatdataRequest` was [removed](https://cwiki.apache.org/confluence/pages/diffpages.action?originalId=61329518&pageId=61330213) from the kafka 0.9.0 API, and replaced with a better API. We need to support the new API as described at https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol

[2016-02-07 15:13] #65 closed

[2016-02-07 16:59] bjhaid commented on #63
New version published https://hex.pm/packages/kafka_ex/0.4.0 along with other patches that you can find at: https://github.com/kafkaex/kafka_ex/releases/tag/0.4.0

[2016-02-15 21:08] dantswain commented on #67
@bjhaid Does this mean that kafka_ex will not work with a 0.9.0 broker?

[2016-02-15 21:13] dantswain commented on #67
OK, I think I misread.  Our reading of the upgrade docs says that there will be no breakage - you're just suggesting that the new consumer group API be integrated into kafka_ex.

For reference for anyone else:
http://docs.confluent.io/2.0.0/upgrade.html

[2016-02-15 21:46] bjhaid commented on #67
@dantswain you are correct, our integration tests currently run against 0.9.0 without issues, kafka is generally backwards compatible, this issue is to support the new API introduced in 0.9.0

[2016-02-15 23:12] dantswain commented on #67
@bjhaid Do you have any plans to work on this / have started it?  I might be able to get on it during work hours since we're pushing to get rid of Poseidon (which is no longer maintained! yay!).

[2016-02-15 23:24] dantswain opened #68 "Support optional startup of default worker"
In my production scenario, I need to be able to run multiple consumer groups (potentially across multiple broker clusters) from the same VM.

I can probably accomplish this by breaking my consumer groups up and starting one via the default `:kafka_ex` worker on startup and the rest as part of my boot process.  This seems klunky, though.  Ideally I think one could optionally start the application w

[2016-02-16 04:08] bjhaid commented on #68
Submit a PR that makes turning off the default worker(`:kafka_ex`) configurable

[2016-02-16 04:16] bjhaid commented on #67
Thanks for your interest, I am yet to start working on this, and as usual I will appreciate your contributions.

Thanks once again

[2016-02-16 15:04] dantswain commented on #68
OK, I will.  Just wanted to make sure you were amenable to the idea.

I'm getting failing integration tests on master.  The first time I ran it there were 5, then 1, then 4... :(  Is this known?

[2016-02-16 15:11] bjhaid commented on #68
This https://github.com/kafkaex/kafka_ex/pull/35#issuecomment-141843295 is still true, I guess they should mostly be sorted with the new Consumer Group API, but it's not completely going away since we have to support `ConsumerGroupMetadata` forever

[2016-02-16 15:59] dantswain commented on #68
I'm seeing something different.  I get tests passing after the first try if I only run one broker, but with 3 they don't pass after one run.

I think this is because I have my test cluster set up to replicate topics (replicating the environment of our production cluster).  Probably there are async issues with writing to one broker and being told to read from another.  Without replication, required

[2016-02-16 19:02] dantswain commented on #60
IMHO this is a lot of code to handle a task that isn't within the scope of KafkaEx.  The maintenance burden is a concern - it could, for example, lead to KafkaEx breaking on changes to the server.properties file that have nothing to do with the operation of the client itself.  Perhaps it could spin off to a new project?

[2016-02-16 21:17] ibizaman commented on #60
Well, I switched to docker now and it offers a very nice alternative. I mean, the burden's on docker now. I use the wurstmeister/kafka image with docker-compose and it works perfectly!

[2016-02-16 21:23] dantswain commented on #60
Cool.  Maybe this issue can be closed?

[2016-02-17 00:42] bjhaid commented on #60
I am closing this.

[2016-02-17 00:42] #60 closed

[2016-02-24 00:13] dantswain opened #80 "Mix.exs points to the wrong repository"
[code]

Should be an easy fix, just capturing the task since I noticed it.

[2016-02-24 16:10] #80 closed

[2016-02-25 20:26] dantswain opened #83 "Crash when one broker in a cluster goes down"
I'm doing some torture testing with my application and found this.  I haven't had time to really dig into it, but it looks solvable, so I wanted to capture it here.

I run 3 brokers with replication and am testing that my consumer can work when a broker goes down.  So I'm basically just `kill`ing one of the broker processes and watching what happens.  I think the failure scenario depends on the st

[2016-02-25 21:18] bjhaid commented on #83
I am not sure what the intent of this issue is, should we crash when a broker is down or not crash?

We try to [balance the broker](https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/server.ex#L246-L251) that crashed out of the worker start and chug along, if the broker died while we were making a tcp request like you posted we expect the supervision tree to kick the worker (relying on O

[2016-02-25 22:06] dantswain commented on #83
You're correct about the supervision tree, but that's not what I observed.  The whole OTP application came down on me.  I'll try to get more details.  My primary intent was just to capture what I observed and come back to it later.  If I end up being completely wrong, I'm fine with closing this.

[2016-02-25 22:27] dantswain commented on #83
It looks like if the first broker in the list goes down, the application crashes.  It will not start after that, either:

[code]

[2016-02-25 22:37] dantswain commented on #83
This is where it fails:  https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/server.ex#L286

It's calling

[code]

which has no protection against any individual `broker` not being connected.  If the first broker in the list is not down, then we're able to fetch the metadata from the first broker and keep going.  If the first broker in the list is down, we error out without trying the oth

[2016-02-25 22:39] bjhaid commented on #83
good catch, thanks!

[2016-02-27 15:33] #83 closed

[2016-02-28 01:24] bjhaid commented on #68
This is closed by #78

[2016-02-28 01:24] #68 closed

[2016-02-28 01:40] bjhaid commented on #68
@dantswain I just published a new release([0.5.0](https://github.com/kafkaex/kafka_ex/releases/tag/0.5.0)), thanks for all the work and patches

[2016-03-08 15:41] dantswain commented on #67
@bjhaid How would you feel about breaking this down into bite-sized chunks?  I can probably get some hours to work on this, but it's a pretty big undertaking.  I was thinking it might be more manageable if I (or anyone else) can start by implementing structs for the new protocol messages and submitting PRs for those individually.  The down side is that it would be asking you to merge into master e

[2016-03-10 15:10] bjhaid commented on #67
I can go ahead and break it into smaller feature(s), I have not worked on this for 2 reasons:

1. I did not want to work on a feature that will not be used (I put it out here to see how much interest it will attract before investing time in it).
2. The feature might introduce backwards incompatibility, we can avoid this by having different strategies for different versions of kafka but that will m

[2016-03-10 15:41] dantswain commented on #67
I am definitely interested.  We would be using it in production, eventually.

I would avoid backwards compatibility here.  This feature is fairly difficult to implement, and any half-measures will implode pretty quickly (see: Ruby's poseidon_cluster).  I think it's best to stick with implementing it on top of the official API that's available as of 0.9.0 and not provide the functionality for users

[2016-03-14 03:54] bjhaid opened #86 "Support for Group Membership - JoinGroup"
Piece meal from https://github.com/kafkaex/kafka_ex/issues/67

Specification can be found at:

https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-JoinGroupRequest

[2016-03-14 03:56] bjhaid opened #87 "Support for Group Membership - SyncGroup"
Piece meal from https://github.com/kafkaex/kafka_ex/issues/67

Specification can be found at:

https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-SyncGroupRequest

[2016-03-14 03:57] bjhaid opened #88 "Support for Group Membership - Heartbeat"
Piece meal from https://github.com/kafkaex/kafka_ex/issues/67

Specification can be found at:

https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-HeartbeatRequest

[2016-03-14 03:58] bjhaid opened #89 "Support for Group Membership - LeaveGroup"
Piece meal from https://github.com/kafkaex/kafka_ex/issues/67

Specification can be found at:
https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-LeaveGroupRequest

[2016-03-14 04:00] bjhaid opened #90 "Support for Administrative API - ListGroups"
Piece meal from https://github.com/kafkaex/kafka_ex/issues/67

Specification can be found at:

https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-ListGroupsRequest

[2016-03-14 04:01] bjhaid opened #91 "Support for Administrative API - DescribeGroups"
Piece meal from https://github.com/kafkaex/kafka_ex/issues/67

Specification can be found at:

https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-DescribeGroupsRequest

[2016-03-14 04:03] bjhaid commented on #67
@dantswain I made 6 smaller issues, I will start picking them up when I have time, when you pick anyone just comment on it, so we are not stumbling on each other

[2016-03-14 12:00] dantswain commented on #67
@bjhaid Sounds good :+1:

[2016-03-20 02:14] dantswain opened #94 "Sync timeouts greater than 5 seconds are not useful"
Calls that pass through KafkaEx.Server will time out at 5 seconds regardless of the setting of sync_timeout because of the GenServer.call's default timeout.

At first I thought we could just grab the value of sync_timeout and modify all of the GenServer.calls to have an appropriate timeout, but this gets messy if you ever want to support different timeout values to different KafkaEx.Server instanc

[2016-03-20 02:28] bjhaid commented on #94
I like a combination of 1 and 3 where the value provided in option 3 overrides the value in 1

[2016-03-20 14:33] cdegroot commented on #86
I'm gonna try my hand at it today, limited time though.

[2016-03-20 14:46] dantswain commented on #86
:+1: @cdegroot In case you haven't followed the conversation (see #67), the idea here was to split the overall task up into first implementing the individual structs and then working on the integration.

[2016-03-20 15:48] cdegroot commented on #86
Indeed, that's what I understood. Currently puzzling (with the Java client source next to it) what to put in the request ;-)

(off-topic: boy, is that Java client inefficient compared to what we can do in Elixir)

[2016-03-20 19:57] cdegroot commented on #86
https://github.com/kafkaex/kafka_ex/pull/98

[2016-03-20 20:07] bjhaid commented on #86
@cdegroot next time you could append

to the commit message and github will auto magically tie the PR to the issue, see:
https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-03-20 20:07] bjhaid commented on #86
thanks for the work and effort!

[2016-03-21 15:14] bjhaid opened #100 "Add credo for linting/style checking"
Credo can be found at:

https://github.com/rrrene/credo

Whoever takes this should ensure all credo warnings/errors are cleaned up

[2016-03-21 15:29] bjhaid opened #101 "Test against multiple versions of elixir in travis"
Example:

https://github.com/elixircnx/comeonin/pull/11/files

[2016-03-21 15:30] dantswain commented on #101
I have a branch for this actually.

[2016-03-21 15:32] bjhaid commented on #101
Let's merge it :)

[2016-03-22 01:04] #86 closed

[2016-03-22 12:15] dantswain commented on #101
Closed by #102

[2016-03-22 12:15] #101 closed

[2016-03-22 12:17] dantswain commented on #100
[code]

:scream:

[2016-03-22 15:24] bjhaid opened #104 "test webhooks"

[2016-03-22 15:25] #104 closed

[2016-03-24 23:22] cdegroot commented on #87
Starting on this one.

[2016-03-27 18:38] dantswain commented on #100
I have a feeling this is going to touch a lot of lines of code, so I'm wondering if it would make sense to break it up and attack bits and pieces as time allows?

[2016-03-27 18:40] dantswain opened #107 "Add test coverage analysis"
Perhaps coveralls? https://github.com/parroty/excoveralls

[2016-03-28 23:13] cdegroot commented on #88
Picking up next - with this one added, participating in a 0.9 consumer group should be possible.

[2016-04-06 01:59] #87 closed

[2016-04-06 02:04] #88 closed

[2016-04-08 15:02] sdball opened #109 "When fetching: `auto_commit` should default to false if `:no_consumer_group` is set"
If I have `consumer_group: :no_consumer_group` then I get errors when fetching from a topic:

[code]

The problem is that `handle_call/3` assumes clients are in a consumer group. Fetching works fine with `auto_commit: false` explicitly set in the call:

[code]

It'd be nice for fetch to check if `:no_consumer_group` is set for the consumer group id and then automatically set `auto_commit: false`.

[2016-04-08 15:25] dantswain commented on #109
@sdball Good catch.  I'll look into this as soon as I can.  I'm hesitant to do anything _automatically_ because it introduces risk.  At a minimum, we need to update the documentation ASAP to make this more clear.

We have been chatting about this a bit on #kafkaex in the elixir-lang.slack.com if you want to weigh in.  The short answer is we have some medium term plans that might make this moot.

[2016-04-08 20:33] sdball commented on #109
Sounds good!

[2016-04-10 23:23] bjhaid opened #112 "Add/Disable documentation via `moduledoc` to all modules"
This is a subset of https://github.com/kafkaex/kafka_ex/issues/100

[2016-04-10 23:58] bjhaid opened #113 "Ensure consistency of spaces around infix operators"

[2016-04-11 00:32] bjhaid opened #115 "Fix function and variable name overlap"
Subset of #100
[code]

[2016-04-11 23:44] #113 closed

[2016-04-11 23:55] #115 closed

[2016-05-12 10:03] adrienmo opened #118 "Producer/Consumer partition assignments"
I am not sure if this is really an issue, but I would like to discuss how the partition assignments are handled with this library. Both `KafkaEx.produce` and `KafkaEx.fetch` require the partition number to perform the request.

For example: If i have a topic with 20 partitions and 2 consumers belonging to the same consumer_group: It is expected that each consumer will consume 10 partitions each. I

[2016-05-12 13:14] dantswain commented on #109
Closing as per discussion here and on #110

[2016-05-12 13:14] #109 closed

[2016-05-12 13:22] dantswain commented on #118
Hi!  Thanks for the info and questions!

Partition assignment for consumers is part of the 0.9.x work that we're doing - see #67.

Partition assignment for producers is a little different.  Usually that's determined on a per-message basis.  A common strategy is to shard messages across partitions based on timestamp or some other piece of business-related data.  If you want a particular worker to a

[2016-05-12 15:27] cdegroot commented on #118
FWIW, I wonder how you can abuse redis to effect exactly-once-delivery in Kafka. My gut feeling is that there are still plenty of edge cases where it won't work. Always go for idempotency in message delivery, makes life much simpler :)

[2016-05-27 03:46] bjhaid opened #119 "kafka_ex server refactor"
### Motivation

The consumer_group API (storing of offsets) in Kafka's API has changed continuously in versions on Kafka since the Kafka core team decided to stop storing offsets in zookeeper. This change in API leaves a client implementer with either adding new features and not supporting older versions of Kafka, or codifying backwards compatibility and not breaking the client for folks who can't

[2016-06-09 12:05] fire opened #120 "Support TLS?"
Does this library support TLS in kafka?

[2016-06-09 13:50] bjhaid commented on #120
Not yet, we plan to support it sometimes soon

[2016-06-09 14:10] fire commented on #120
Great!

[2016-06-09 14:17] leifg opened #121 "Consuming unstable when broker in cluster goes down"
I am currently evaluating kafka for internal purposes.

I set up a kafka cluster with 3 nodes (kafka.1, kafka.2 and kafka.3). the topic (name: "topic") I am subscribing to has 3 partitions and is replicated over 3 nodes:

[code]

It's all great I am subscribing to the topic in a very simple way (endless loop, fetch all the time):

[code]

This works fine.

But now I also wanted to test what happen

[2016-06-09 17:25] bjhaid commented on #121
Maybe? but maybe it's better to crash :) since that's the erlang way. So the problem is as thus:

Before every action we make to kafka (in this case `fetch`) we ask for the state of the cluster and rebalance the brokers we are aware of if things has changed, but there is a possibility of a race condition in between when we inquire the state of kafka and when we make the API request, which is exact

[2016-06-09 17:35] dantswain commented on #121
One thing I would add is that if you have multiple processes under a supervision tree and they're all using KafkaEx, you might need to tweak the supervisor's restart parameters.  I.e., if the max restarts is 3 and you have 3 processes that are linked to a single KafkaEx connection, once that connection crashes all 3 workers will restart and you could reach your supervisor's restart limit which wou

[2016-06-13 16:32] blackfist opened #123 "Failing test for disable_default_worker"
When you run `mix test --no-start` one of the tests fails.

[code]

The reason for the failing test is that the test tries to run `Application.stop(:kafka_ex)` but since we run `mix test` with `--no-start` there is no `:kafka_ex` application to stop. I talked to @bjhaid in the kafka_ex chat room and he's cool with moving that test in with the other integration tests.

I'll try to send a PR today.

[2016-06-15 22:51] ghbutton commented on #120
Heroku only supports Kafka is we have ssl

[2016-06-15 23:08] bjhaid commented on #120
@ghbutton I don't understand what you mean by:

[2016-06-15 23:16] ghbutton commented on #120
Sorry, what I mean is heroku supports a managed kafka cluster, but ssl is required to connect with it.

[code]

[2016-06-20 09:49] eproxus commented on #121
@bjhaid I agree it's better to crash, but we've seen the same error and getting an `function_clause` error is not so nice. The immediate reaction is that this is a bug in the KafkaEx library:

[code]

I think the `KafkaEx.NetworkClient` should raise an exception instead of returning `nil`. It already does detect and log the error so this wouldn't be any extra overhead.

[2016-06-20 11:45] eproxus commented on #121
If you're interested, I'd be happy to work on a pull request for better errors from the network level. It is something I'm interested in since we want to have higher uptime regardless of Kafka status. (Another case we found was shutting down Kafka and getting an `** (MatchError) no match of right hand side value: {:error, :einval}`).

[2016-06-20 12:40] bjhaid commented on #121
@eproxus Please send in the pull requests, I appreciate them ❤️

[2016-06-20 14:30] eproxus commented on #123
Another nice addition would be to alias `mix test` to `mix test --no-start`. :smile:

[2016-06-20 14:42] bjhaid commented on #123
@eproxus 👍

[2016-06-22 04:24] #123 closed

[2016-06-22 22:22] #119 closed

[2016-06-23 15:04] leifg opened #130 "Reading Brokers from Zookeeper"
I am currently building a little application. I want to be able to read the different brokers from broker (the host names change a lot). I wrapped this in a function (`App.Zookeeper.brokers`).

to pass this is in the start function of KafkaEx, I need to set in the config (all parameters in [start function](https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex.ex#L323) are ignored).

But I c

[2016-06-23 15:08] dantswain commented on #130
You should be able to disable the default workers so that KafkaEx doesn't attempt to connect on node startup.  Then you can read your brokers from zookeeper and set up workers using `KafkaEx.create_worker`.

The KafkaEx OTP application should be independent of configuration.  The default worker is just provided as a convenience, though admittedly in cases like this it can lead to confusion.

[2016-06-24 15:18] bjhaid commented on #118
I am closing this issue as I assume the concerns has been addressed, if you feel otherwise please reopen

[2016-06-24 15:18] #118 closed

[2016-06-24 15:19] bjhaid commented on #121
I am closing this issue as I assume the concerns has been addressed with https://github.com/kafkaex/kafka_ex/pull/127#issuecomment-227465636, if you feel otherwise please reopen

[2016-06-24 15:19] #121 closed

[2016-07-02 05:44] bjhaid commented on #112
This is mostly done except for kafka_ex which is the core module, I will close this issue and make a new issue for that

[2016-07-02 05:44] #112 closed

[2016-07-02 05:45] bjhaid opened #131 "Add a moduledoc tag to document kafkaex.ex module"

[2016-07-02 12:39] dantswain commented on #131
Easiest way to do this is to use `@moduledoc File.read!(Path.expand("../README.md", __DIR__))`

[2016-07-02 15:04] bjhaid commented on #131
@dantswain thanks! can you make that change and commit it?

[2016-07-02 15:41] bjhaid commented on #130
I am closing this issue as I assume the concerns has been addressed, if you feel otherwise please reopen

[2016-07-02 15:41] #130 closed

[2016-07-04 03:37] bjhaid commented on #131
closed by #132

[2016-07-04 03:37] #131 closed

[2016-07-08 14:28] cdegroot opened #133 "Produce request with required_acks <> 0 returns raw result"
Contrary to what the @doc on `KafkaEx:produce` specifies, using a non-zero value for `required_acks` does not return a simple error/ok indication; it returns the (internal) ProduceResult instead. Some logic should be added to parse that down to a simple indication.

[2016-07-08 14:33] bjhaid commented on #133
thanks!

[2016-07-12 09:59] eproxus opened #134 "Type spec inconsistency"
I've noticed an inconsistency yielding some Dialyzer errors. In the `KafkaEx.Protocol.Producer.Request` struct, the `required_acks` field is specced as a `binary()` but initialized as an integer `0`: https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/protocol/produce.ex#L15-L16

Not sure what the fix would be, therefore reporting this as an issue.

[2016-07-12 11:52] bjhaid commented on #134
It should be an integer (0,1,2) the fix is to correct the spec, thanks for reporting this, I will fix sometimes today

[2016-07-12 12:43] bjhaid commented on #134
err it's -1, 0,1 not (0,1,2) as stated

[2016-07-12 16:05] eproxus commented on #134
Another question: Shouldn't the default be 1 or 2 instead of 0? It's more intuitive and stable to have acks on by default, I think.

[2016-07-12 16:27] bjhaid commented on #134
Default is 0, if you really care about guarantees/consistency you should use 1, we probably should document this

[2016-07-13 00:04] bjhaid commented on #134
actually this is documented

[2016-07-13 08:35] eproxus commented on #134
I guess I'm just arguing that guarantees and consistency should be the default. :smile:

[2016-07-13 23:53] #133 closed

[2016-07-17 15:48] #134 closed

[2016-08-08 20:36] JGulbronson opened #137 "How to use KafkaEx with something like Poolboy?"
I'm trying to use KafkaEx with Poolboy, using unnamed workers, but am struggling for the following reasons:

1. KafkaEx workers are managed by the KafkaEx Supervisor in a different app, which brings them up as they fail
2. There's no way (that I can see), where I can access those workers under the supervisor.

Because of this, whenever there are temporary Kafka issues, new processes are spawned, a

[2016-08-09 13:04] dantswain commented on #137
Hi @JGulbronson, thanks for the heads up!

I'm not super familiar with Poolboy, just the basic idea, and I'm not sure it makes sense to use Poolboy with Kafka.  E.g., connection pooling doesn't necessarily make sense because a Kafka client needs to maintain metadata state about the cluster and whatnot.  It's very possible that I'm misunderstanding, though.  Can you expand on how you're using Poolb

[2016-08-09 13:35] JGulbronson commented on #137
Sure! Sorry, in retrospect my original comment didn't provide much context.

Currently, we have a pool of Publishers, managed by poolboy. When a Publisher starts, it creates an unnamed `KafkaEx.Worker`, which it uses for the actual publish to Kafka. This means that if a Publisher fails for whatever reason, it will be restarted by poolboy, and the `KafkaEx.Worker` it started will be restarted by th

[2016-08-09 13:39] bjhaid commented on #137
As a follow up to what @dantswain said, if your app is consume heavy you should not be using poolboy, but for produce heavy apps you can make a case for poolboy. If you really want to use Poolboy you will need to call `GenServer.start_link(KafkaEx.Server, [[uris: Application.get_env(:kafka_ex, :brokers), consumer_group: Application.get_env(:kafka_ex, :consumer_group)], :no_name]` manually to creat

[2016-08-09 13:42] JGulbronson commented on #137
Yeah, we're entirely producing, no consumption.

That seems like what I needed though, I'll give it a shot and report back!

[2016-08-09 13:53] JGulbronson commented on #137
`GenServer.start_link` should be fine. Worst case scenario is the worker brings down the linked process, and then poolboy brings them both back up.

Also, your suggestion of manually managing them works great! Do you think it's worth submitting a PR to update the README in the relevant section?

[2016-08-10 13:26] bjhaid commented on #137
Closed with https://github.com/kafkaex/kafka_ex/issues/138

[2016-08-10 13:26] #137 closed

[2016-08-10 13:27] bjhaid opened #139 "Make travis track all kafka_server versions"
We currently run CI against only the 0.9.0 server in travis, we should have travis run builds for the 0.8.0 and 0.8.2 servers

[2016-08-10 13:32] dantswain commented on #139
Might want to do this within a single build rather than adding a dimension to the build matrix.

Have you considered using Docker for this?

[2016-08-10 14:23] bjhaid commented on #139
Maybe? Server here refers to the server internal to kafka_ex and not kafka

[2016-08-10 14:49] bjhaid opened #140 "Create example use cases of KafkaEx with consumer_groups"
Make the examples cover the below:
1. Single consumer in consumer group
2. Multiple consumers (limited by environment variable) in consumer group
3. Similar for above but for producers

[2016-08-10 15:04] dantswain commented on #139
I mean using docker to spin up Kafka clusters - e.g., run clusters with different versions of kafka.

IIRC I thought about this before but one problem we would run into is that the community images for Kafka have replication enabled by default and a lot of our integration tests fail when the cluster has replication.  They don't fail because the code is doing the wrong thing, but because the tests

[2016-09-08 03:22] dplummer opened #141 "Memory leak when using KafkaEx.stream"
I mentioned on slack:

And @dantswain suggested I create an issue after reproducing it with a minimal app. I built [KafkaConsumerTest](https://github.com/dplummer/kakfa_consumer_test) and was able to reproduce the behavior I saw reliably. The README in the project outlines how to run the consumer and producer.

I reproduced this with:

[code]

And both v0.5.0 and github master of KafkaEx. My examp

[2016-09-08 03:39] dplummer commented on #141
I tried using `KafkaEx.fetch` and did not observer a memory leak:

[code]

This is after processing 250k messages:
![screen shot 2016-09-07 at 8 38 49 pm](https://cloud.githubusercontent.com/assets/98884/18336331/2037bc58-753b-11e6-956f-5e4120f3053e.png)

[2016-09-08 04:07] dplummer commented on #141
Forgot to mention, am running kafka 0.8.2.1

[2016-09-08 04:38] dplummer commented on #141
So I think the issue is the GenEvent handler on [server.ex#L319](https://github.com/kafkaex/kafka_ex/blob/0d1b73df3c8ad25ee548fea1a700c4b403a3727d/lib/kafka_ex/server.ex#L319). I'm pretty sure that's the "leak". I'm not using the handler, just basically using `GenEvent.stream(event_stream) |> Stream.each(&stuff/1) |> Stream.run`.

It appears I could use the handler by calling something like `GenEv

[2016-09-08 12:16] dantswain commented on #141
Great detective work @dplummer!

We'll take a closer look at this ASAP.  In the meantime, it seems like you have a workaround?

[2016-09-08 15:28] dplummer commented on #141
Yea, adding `handler: NullHandler` to the stream is a good workaround for me.

[2016-09-20 14:14] ook opened #142 "Cluster for integration test"
Hi. I'm currently working on #120 and I'd like to setup a cluster that can pass integration tests.

I prepared a Docker image spawning 3 differents kafka brokers (classical id:0 on 9092 id1 on 9093 id 2 on 9094), they work well altogether (requests are balanced, no error). I don't understand why when I run the integration test I constantly get:

[code]
Have you some clue, or could you give me your

[2016-09-20 14:20] bjhaid commented on #142
replace `"0.0.0.0"` with whatever IP address kafka running in the container is bound to in you config

[2016-09-20 14:20] dantswain commented on #142
Docker + Kafka is a bit tricky.  Assuming you're using wurstmeister/kafka you'll need to set KAFKA_ADVERTISED_HOST.  This is my typical docker-compose kafka setup:

[code]

You have to set `DOCKER_IP` and `KAFKA_CREATE_TOPICS` accordingly beforehand (you can probably just omit the `KAFKA_CREATE_TOPICS` line).  I use scripts to automate this :/

On a Mac you could do `ifconfig en0` and get the ip a

[2016-09-20 14:21] bjhaid commented on #142
alternatively you can just avoid docker and use https://github.com/kafkaex/kafka_ex/tree/master/scripts

[2016-09-20 14:30] dantswain commented on #142
FWIW I use docker + kafka + kafka_ex pretty regularly, so it _is_ possible ;)

[2016-09-20 14:32] bjhaid commented on #142
not arguing that it's not possible(that was the path I started with, it's probably in the git history of kafka_ex), I posted that right about when you posted

[2016-09-20 14:45] ook commented on #142
Oh god sorry… I exposed the ports in docker, but not in docker-compose. Now it works… Sorry for wasting your time (seeing the docker-compose.yml help me to remember). Back to SSL support.

[2016-09-20 14:45] #142 closed

[2016-09-22 19:50] cdegroot commented on #67
Question - do we have a high level design already? I will try to pick up the remaining three wire protocol tickets, still going through the new style library after the refactor.

What I would love to see as an end result for a high level library (a bit akin to the Java lib): a single call specifying bootstrap broker, topic(s), consumer group, a function to do partition assignments if leader, and a

[2016-09-23 23:33] zapient opened #143 "Support for Streaming GenStage Producer"
http://elixir-lang.org/blog/2016/07/14/announcing-genstage/

[2016-10-04 13:08] gjaldon opened #145 "auto_commit not working in KafkaEx.stream/2"
I'm using Kakfa 0.10.0 and have the following code:

[code]

The issue is that offsets are not being committed. I tried disabling the `auto_commit` option and then manually creating a worker and then manually committing the offset after the task but it still doesn't work. I based the offset_commit code on your test for the offset_commit function.

Also, `process_message/2` above takes about half a

[2016-10-06 13:54] bjhaid commented on #145
@gjaldon sorry for the late response, have you tried `KafkaEx.fetch` do you have similar problems, I will attempt to reproduce sometimes today

[2016-10-06 14:31] gjaldon commented on #145
@bjhaid no problem at all. I ended up getting the last offset from `KafkaEx.fetch` and passed the offset there to `KafkaEx.stream` as option so that it would start from that offset as a workaround.

[2016-10-06 22:17] spscream commented on #145
try to use a named consumer group as a workaround, worked for us

[2016-10-08 13:24] dantswain commented on #145
@gjaldon Can you provide a more complete reproduction case? I'd like to figure out what's going on here.  Thanks!

[2016-10-18 17:42] lachezar opened #147 "Latest stable version 0.5.0 does not handle offsets correct with Kafka 0.9.0"
I tried using the latest stable version 0.5.0 and Kafka 0.9.0 (kafka: stable 0.9.0.0 (bottled), HEAD), but every time when I restart the iex shell, the offset is reset to the very first message instead to the last non-consumed message.

Steps to reproduce it:
0. auto_commit is on
1. Add few messages to Kafka
2. Consume them `KafkaEx.fetch("test", 0)`
3. Kill and start iex again
4. Try `KafkaEx.fet

[2016-10-18 17:47] bjhaid commented on #147
@lachezar can you post the relevant portions of your `config.exs` and supply a small enough example to reproduce this

[2016-10-18 17:55] lachezar commented on #147
Added config and steps. I am inexperienced with Kafka and Elixir (so there is a slim chance of me doing something wrong). I have tried it inside of a new Phoenix sample app with one GenServer.

[2016-10-20 14:53] ook commented on #120
#146  ;)

[2016-10-20 17:38] ghbutton commented on #120
Awesome thanks

[2016-10-20 19:31] dantswain opened #148 "Recent SSL addition breaks existing non-SSL configs"
From an existing application without SSL config:

[code]

[2016-10-20 19:49] bjhaid commented on #148
thanks for catching this:

https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/server_0_p_9_p_0.ex#L40

`@ssloptions` is not defined, which sort of defaults to `nil`

[2016-10-20 19:49] bjhaid commented on #148
can you commit a quick fix for this? :) thanks!

[2016-10-20 20:38] dantswain commented on #148
Soon as I can - fighting a fire :(

[2016-10-21 08:50] ook commented on #120
Tested with success against Heroku Kafka, works great. A big thank you. 👍

[2016-10-22 14:55] #148 closed

[2016-10-23 07:11] bjhaid commented on #120
As stated by @ook this is done in #146 and all our integration test uses ssl by default now, I will push a new release sometimes this weekend

[2016-10-23 07:11] #120 closed

[2016-10-23 18:42] bjhaid commented on #147
Published [0.6.0](https://hex.pm/packages/kafka_ex/0.6.0)

[2016-10-23 18:42] #147 closed

[2016-10-26 12:25] Firemango commented on #143
As I read the Kafka protocol, it's not supported to specify max messages on a stream, so I guess the producer would have to keep track of the demand and how many messages are streaming through, and open/close the stream accordingly.

Does this make sense to anyone? If so, I could try to make a POC for this.

[2016-10-26 13:26] bjhaid commented on #143
@Firemango thanks for volunteering go ahead and send in a PoC

[2016-10-26 14:07] dantswain commented on #143
@Firemango We'll have to be very careful about how we do this.  GenStage currently requires Elixir v1.3 and some folks using KafkaEx might not be prepared to upgrade.  That shouldn't stop doing a PoC, we'll just have to think carefully about how to proceed if it works well.

[2016-10-26 21:33] Firemango commented on #143
Alright, I will get started. @dantswain I will see how the PoC goes. Maybe it won't actually depend on any kafkaex internal code and could move it to an entirely separate repo, which can be merged in at a later time to reduce juggling version.

[2016-10-27 16:51] leifg commented on #67
What is the status on that? I would love to see a high level consumer view.

[2016-11-02 02:54] jamsavvy opened #150 "New to kafka_ex"
Hi, I'm new to Elixir and kafka_ex. I'm trying to run the sample producer.ex and other samples at http://www.abeji.de/kafka-meets-elixir/.

However I'm encountering this error:

![producer_error](https://cloud.githubusercontent.com/assets/23204231/19915055/98f6dbb2-a0ea-11e6-9078-6af47e850d14.PNG)

Would appreciate any advice/help.

[2016-11-02 03:10] bjhaid commented on #150
that blogpost is over a year old, I am surprised the code there is still sort of relevant, you should try following the readme, here https://github.com/kafkaex/kafka_ex#produce-kafka-logs for producing kafka messages and let me know if you still have problems also make sure you are using kafka_ex 0.6.0 in your mix.exs file, I will also try to update that blog post such that it's more relevant

[2016-11-02 03:30] bjhaid commented on #150
hey, I can confirm using `0.6.0` version I can produce with the same code

and config.exs is:

[code]

instead of:

[code]

Fetch needs to be modified to:

`IO.inspect KafkaEx.fetch("kafka", 0, offset: 0)`

from:

`IO.inspect KafkaEx.fetch("kafka", 0, 0)`

every other thing on the blog is still valid :), I will update it soonish since people still find it useful

[2016-11-02 03:40] jamsavvy commented on #150
@bjhaid  Thank you very much, I'll try this and get back to you!

[2016-11-02 03:48] jamsavvy commented on #150
@bjhaid I tried running the producer.exs and so far so good, thanks again. Your blog is very helpful.

[2016-11-02 12:14] bjhaid commented on #150
I am closing this issue since it seems your problems have been resolved, I will update the blog as soon as I can

[2016-11-02 12:14] #150 closed

[2016-11-16 03:02] jamsavvy opened #152 "New to kafka_ex: KafkaEx.latest_offset"
Hello again,

I've tried getting the latest offset using KafkaEx.latest_offset but the value for offset is a character:

![latest_offset_error](https://cloud.githubusercontent.com/assets/23204231/20333202/f9a654a4-abeb-11e6-922e-99117a2062b8.PNG)

I used this code:
IO.puts "Earliest offset is: #{inspect KafkaEx.earliest_offset("jamtest", 0)}"
IO.puts "Latest offset is: #{inspect KafkaEx.latest_off

[2016-11-16 03:20] cdegroot commented on #152
Could it be that the offset is actually 39 and Elixir/Erlang is trying to be helpful by representing this as an ASCII char?

[2016-11-16 03:36] cdegroot commented on #152
(did some digging - Kafka V2 Offsets response indeed specifies a list of offsets, see https://kafka.apache.org/protocol. It's late so I can't find a reason why you would have a list of offsets there, but I'm sure they made it into a list for a reason. So it looks like the regular Elixir behavior:

[code]

[2016-11-16 03:43] jamsavvy commented on #152
@cdegroot Thanks, now it makes sense!

[2016-11-16 04:26] cdegroot commented on #152
You're welcome. And I couldn't help digging a bit further. https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-OffsetAPI(AKAListOffset) says:

So there you have it.

[2016-11-16 04:58] jamsavvy commented on #152
Thanks to @cdegroot , I had forgotten about char lists :).

[2016-11-16 04:58] #152 closed

[2016-11-21 15:22] bjhaid opened #153 "Run builds on CircleCI"
Given the recent flakiness of travis, we need to add a backup to Travis and the kafkaex slack room all suggest CirlceCI

[2017-01-06 00:40] dcuddeback opened #158 "Missing metadata length in serialized JoinGroupRequest"
In [`JoinGroupRequest`](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-JoinGroupRequest), `ProtocolMetadata` is defined as `bytes`. `bytes` is defined to have a 32-bit length field preceding it: https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-TheProtocol. This length field is missing

[2017-01-06 00:40] dcuddeback opened #159 "Not handling MemberMetadata when parsing JoinGroupResponse"
In [`JoinGroupResponse`](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-JoinGroupResponse), each element of the `Members` array contains two fields. The implementation right now only parses the `MemberId` field. Even if `MemberMetadata` is empty, it has at least a 4-byte length field, which is being skipped while parsing the response.

[2017-01-06 02:04] dcuddeback opened #161 "SyncGroup Request Serializes UserData at Top Level"
In [`SyncGroupRequest`](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-SyncGroupRequest), `UserData` is shown as the last field of `MemberAssignment`, but it's currently serialized once at the end of the `SyncGroupRequest`.

[2017-01-06 17:21] dantswain opened #163 "Review logging code and levels"
This is inspired by the conversation in #157.   There are some places where the log level might need to be tweaked or the logging could be removed completely.  We may want to consider allowing the log level for some events to be configurable and/or using the `Logger.info` etc family of functions to allow the `:compile_time_purge_level` setting to take effect.

I think we could take some cues from

[2017-01-06 17:27] cdegroot commented on #161
That thing is a bit funny in that `UserData` is there, but `MemberAssignment` doesn't specify where it actually falls

[code]

If `UserData` would be used, I'd say the first line would include it. I'll need to dive into the Java client library to figure this out, unless someone has a simple STR (note: this is not really part of the Kafka protocol proper - it's part of how the Java library interpre

[2017-01-06 18:40] dcuddeback commented on #161
@cdegroot Where it's serialized right now, `UserData` is not inside `MemberAssignment`. Consider if `assignments` is an empty list [here](https://github.com/kafkaex/kafka_ex/blob/6e4b21b79fe08afb682dbb7769e4bd2b47a48d27/lib/kafka_ex/protocol/sync_group.ex#L25), then user data (`0 :: 32-signed`) is still appended on the next line. That would correspond to adding a 32-bit 0 value at the end of `Sync

[2017-01-06 18:42] cdegroot commented on #161
I've looked at the Java client, and the specification for member assignment should indeed be:

[code]

(see: https://github.com/apache/kafka/blob/trunk/clients/src/main/java/org/apache/kafka/clients/consumer/internals/ConsumerProtocol.java#L78) - so corresponding PR should be fine. Note that this is all pending a proper test with a mixed Java/kafka_ex consumer group, of course.

[2017-01-06 18:55] #161 closed

[2017-01-06 18:57] #158 closed

[2017-01-06 18:57] #159 closed

[2017-01-09 22:31] bjhaid opened #168 "Add support for CreateTopics API"
https://kafka.apache.org/protocol.html

[2017-01-09 22:32] bjhaid opened #169 "Add support for DeleteTopics API"
https://kafka.apache.org/protocol.html

[2017-01-12 23:14] dantswain opened #170 "Test with dockerized kafka/zookeeper"
This will open the door to a few things:
* Testing against multiple versions of kafka
* Ensuring a clean slate for every run of the tests - maybe eventually get rid of the randomized topic names
* Maybe getting rid of the duplicate test runs

[2017-01-12 23:15] dantswain opened #171 "Clean up warnings on Elixir 1.4.0"
We have several warnings on Elixir 1.4.0.   Most of them should be fairly easy to fix and won't have backwards compatibility problems.

[2017-01-13 00:52] dantswain commented on #107
Closed by #172

[2017-01-13 00:52] #107 closed

[2017-01-13 23:36] #89 closed

[2017-01-13 23:36] bjhaid commented on #171
Are there still warnings?

[2017-01-14 00:13] dantswain commented on #171
No I just forgot to close this.

[2017-01-14 00:13] #171 closed

[2017-01-14 01:10] bjhaid commented on #143
I am closing this issue, we will not add GenStage support to kafka_ex, it expects count of messages while kafka only supports bytes to be consumed which does not necessarily translate to a certain number of messages. There are also several ways to implement several things with GenStage that makes it difficult to implement a generic implementation that would fit into a library

[2017-01-14 01:10] #143 closed

[2017-01-14 14:01] dantswain opened #178 "Setting `use_ssl` to false without changing `ssl_options` causes a crash"
From this section of the config:

[code]

I would expect that setting `use_ssl` to false will simply make `ssl_options` irrelevant.  Instead it causes the application to fail to start with a

[code]

which is pretty unhelpful.

I propose:

1. If `use_ssl` is set to false, the application should ignore `ssl_options`.
2. If anything in `ssl_options` is configured incorrectly, the application should

[2017-01-14 15:27] #178 closed

[2017-01-17 21:08] dantswain commented on #170
This is partly done - as of #181 Travis is running the tests with docker, as of #182 the README is recommending testing with docker.

I'd still like to get testing of non-ssl and the other kafka version servers.

[2017-01-20 10:27] sweco-semtne opened #183 "Problem with KafkaEx.stream"
Hi,
I'm trying to stream from a single Kafka 0.10.1 Broker with the advertised hostname "b2".
I had it working but every now and then it gets an exception in

(kafka_ex) lib/kafka_ex/protocol/fetch.ex:41: KafkaEx.Protocol.Fetch.create_request/1

I can do KakaEx.fetch from the same topic but the streaming doesn´t work.

Any ideas?

[code]

[code]

[code]

[2017-01-20 12:51] dantswain commented on #183
Thanks for this report, @sweco-semtne!  Can you let us know which version/commit of KafkaEx you're using?

[2017-01-20 13:04] dantswain commented on #183
It looks like the problem is that the offset being provided is the raw output of `KafkaEx.latest_offset/3` whereas `KafkaEx.stream/3` wants a number.  You should be able to fix this by doing something like

[code]

@bjhaid Do you recall if this is by design?  It seems a lot of hoops to jump through.  We could modify `stream/3` to extract the offset automatically.

[2017-01-20 13:19] sweco-semtne commented on #183
Doh! My bad.
I agree that it could be made easier ;-)
Thank you for the swift reply!

[2017-01-20 19:40] bjhaid commented on #183
@dantswain the API was when I was of the opinion that we will support batching, but that's not happening maybe we should support passing the offset struct to the stream API

[2017-01-20 23:18] dantswain opened #184 "Address inconsistency wrt return type of `latest_offset/3` and expected type of `:offset` options."
This is a follow-up to #183.  `KafkaEx.latest_offset/3` and `KafkaEx.earliest_offset/3` both return type `[OffsetResponse.t] | :topic_not_found`.  On the other hand, functions like `KafkaEx.fetch/3` and `KafkaEx.stream/3` take an `offset` option that expects an integer offset.

Some options:
1. No change
2. Modify functions that accept an `offset` parameter to accept `[OffsetResponse.t]` OR an int

[2017-01-20 23:23] dantswain commented on #183
Thanks again @sweco-semtne for the report.  I've opened #184 to address the inconsistency.

You may want to ask your question in the #kafkaex channel on the elixir-lang slack.  I'm not sure what you mean by "slow" consumer.  I use the same KafkaEx consumer code to ingest data at rates ranging from a few messages per second to thousands of messages per second.  I don't generally use `stream` myself

[2017-01-20 23:25] #183 closed

[2017-01-20 23:31] dantswain commented on #153
@bjhaid Do we still need this?  It doesn't seem like travis has been an issue lately.  Elixir is not officially supported on circle though with docker it shouldn't be _that_ hard to do.

[2017-01-20 23:34] dantswain commented on #145
@bjhaid were you ever able to reproduce this?

[2017-01-20 23:42] bjhaid commented on #145
I didn't try to :man_facepalming:

[2017-01-20 23:43] bjhaid commented on #153
I'll close this, we can revisit if travis ever goes flaky again

[2017-01-20 23:43] #153 closed

[2017-01-21 00:19] dantswain opened #185 "Reimplement streaming without GenEvent"
Per discussion with @bjhaid.  I think `Stream.resource/3` would do the trick https://hexdocs.pm/elixir/Stream.html#resource/3

This should address #145 and #141

[2017-02-03 11:58] philippneugebauer opened #189 "Documentation Bug?"
I tried to include kafka_ex to my application, but the only thing I receive is the following error:

[code]

I was following pretty much following the Readme, I just needed to adapt the following to the new? elixir syntax:

[code]

Thats my config:

[code]

Did I miss any implicit change or what exactly do I wrong since the application seems to work well for everyone else? Just to mention, I was a

[2017-02-03 12:28] dantswain commented on #189
Thanks for this info!  I haven't run into this before but that doesn't mean it's not a real issue. Are you starting a worker manually in your code during startup?

[2017-02-03 13:29] philippneugebauer commented on #189
That's the way I'm starting the worker: I tried it this way via code and also terminal and I always receive the quoted error:
[code]

[2017-02-03 13:31] bjhaid commented on #189
Can you remove `:kafka_ex` from `extra_applications` and report back your findings, I will also attempt to reproduce

[2017-02-03 14:32] philippneugebauer commented on #189
Does not change anything

[2017-02-03 14:44] joshuawscott commented on #189
Are you inlcuding `:kafka_ex` in your applications (not `:extra_applications`)?

[2017-02-03 14:53] philippneugebauer commented on #189
First, my complete config:

[code]

I also tried variations like:

[code]

[code]

[2017-02-03 16:11] bjhaid commented on #189
your config is missing `mod: {MyApp, []},` and you should not append `:kafka_ex` to the `extra_applications`, should be under `applications` instead

[2017-02-03 16:11] joshuawscott commented on #189
I put together a repo that uses the config you provided: https://github.com/joshuawscott/kafkacat and it seems to work as expected.

[2017-02-03 17:11] philippneugebauer commented on #189
I found the problem. I never expected it to be caused there:
`iex -S mix compile` => Does not work
`iex -S mix` => Works

Since I just started developing with Elixir, I have no clue what's the problem, but at least I resolved the problem now. Thanks a lot :)

[2017-02-03 17:46] philippneugebauer commented on #189
Anyways, since Elixir's standard Mix config is now `[extra_applications: [:logger]]`, I guess you should follow that and update your Readme according to that to `[extra_applications: [:logger, :kafka_ex]] instead of the `mod: ..` stuff

[2017-02-03 20:49] bjhaid commented on #189
@philippneugebauer we support elixir >= 1.1.0, which still requires the old syntax, given the old syntax is compatible with newer versions of elixir, I'll prefer we keep the docs same till we drop support for the older versions

[2017-02-06 19:55] cdegroot opened #190 "Review error handling"
[code]

[2017-02-10 18:49] #189 closed

[2017-02-12 19:13] kevinbader opened #191 "stream/3 hangs"
Hi all,

I'm not sure whether I don't understand how stream/3 is supposed to work, or it's buggy:

[code]

[2017-02-13 09:26] philippneugebauer opened #192 "Handling Kafka Downtime"
Is there any way to keep my processes alive even though my kafka server went down?
I couldn't find any settings to enable this behavior.
I don't want to see my worker processes dieing just because kafka crashed but trying to reestablish the connection to send the next messages.

My application is standalone and just communication its state - so it could run a while without the communication.

[2017-02-13 13:19] dantswain commented on #192
I would recommend using a broker cluster so that downtime doesn't become an issue.

It sounds like you're mainly doing produce requests, which is hopefully a little simpler to deal with than consume.  You could wrap your producer in a process that maintains an "is the broker alive?" state, then wrap the produce request in a try/catch that updates that state.  Alternatively you could maybe just set

[2017-02-13 13:19] #192 closed

[2017-02-13 13:25] dantswain commented on #191
I think this is a consequence of how `stream/3` currently works.  @bjhaid may have more info, but we have #185 to manage a rewrite.

[2017-02-13 14:39] bjhaid commented on #191
It's due to the implementation of stream in kafka_ex, it uses GenEvent for streaming which we intend to replace in the issue @dantswain linked and I believe it's related to this: https://github.com/elixir-lang/elixir/issues/3138.

I have some WIP branch for #185 that I'll invest more time in this week to complete

[2017-03-02 10:08] Fuffi opened #194 "Certificates from ENV instead of files?"
Is there any quick solution to get these? My idea was to create the files from ENV on app boot, but it's not ideal considering I'm hosting on Heroku

[2017-03-02 13:36] dantswain commented on #194
That's a really great question.  We pass the ssl options directly to the erlang ssl module - http://erlang.org/doc/man/ssl.html - so if you can find a set of configurations that works for erlang ssl, it should work for KakaEx.  If you find something, would you mind sharing it back here so that others can see the solution?

[2017-03-02 13:40] dantswain commented on #194
Ah I spoke too soon. It looks like we verify the ssl options and enforce that cacertfile, certfile, and keyfile are present.  This could be a strong case to remove those checks if you can get it to work with a different set of options.  You could bypass those checks by changing this line https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/config.ex#L52 to just be `defp ssl_options(true, o

[2017-03-02 13:52] bjhaid commented on #194
ENV doesn't play nicely with releases so we might not support reading certificates from ENV, your idea should be the way to go. If it's security concerns that makes you think it's not ideal, then anyone who has access to read the disk can dump whatever they want from memory or iex/erl. You should just make sure you are cleaning up your certificates at shutdown.

I am also wondering what do people

[2017-03-02 13:55] dantswain commented on #194
IMO we should support any combination of settings that works with the ssl module.  We don't do anything special with the certfile/etc settings except to verify that they exist and are readable files, which is something that was just done with the intention of helping people debug startup problems.  If there is a combination of settings that works and doesn't use those files (I'm not familiar enoug

[2017-03-02 15:20] Fuffi commented on #194
@bjhaid not sure what problems you have with ENV, but Heroku's Kafka service gives you the certs via ENV variables so if you want to support Heroku I think you should consider lifting the enforcement of the cert files... Anyway I fixed it by creating the files in the /tmp folder on boot... Not ideal but it worked

[2017-03-02 15:45] dantswain commented on #194
It looks like the `:cert`, `:key`, and `:cacerts` keys can be used to supply strings directly.  I think we should allow any valid configuration options.

[2017-03-02 16:40] bjhaid commented on #194
@Fuffi I don't have problems with ENV, releases do, based on @dantswain comment we should just allow things that are valid to `:ssl` which I agree with

[2017-03-14 03:57] steffenix opened #197 "If their is an error message set shouldn't be parsed"
I am getting the error:
[code]
I wonder if the error code should be checked before trying to parse the message set?
[here](https://github.com/kafkaex/kafka_ex/blob/e240882d81095ee2ec2eb0a21e6391b8328185f0/lib/kafka_ex/protocol/fetch.ex#L57)

[2017-03-14 12:29] dantswain commented on #197
Thanks, @steffenix.  Could you please give us a little more of your stack trace?  What was the error code?

This gets tricky because this is an unexpected state and the general Elixir mantra of "fail fast" applies.  Kafka is telling us that the request could not be fulfilled.  Having said that, the error could definitely be a little more informative.

[2017-03-14 12:58] steffenix commented on #197
I am using kafka 0.8.2, I have the correct config to use the correct server.
I am using the default kafka worker.

[2017-03-14 19:21] dcuddeback commented on #197
The binary looks like the beginning of a valid message set. (offset=158,869, message size=205 bytes, crc=0x97ff770c, magic byte=0, attributes=0, key=null, value length=191) The two sizes (205 and 191) are consistent with each other (they're separated by 14 bytes). Without being able to see the full payload, my guess is that we're running into this:

https://cwiki.apache.org/confluence/display/KAFK

[2017-03-14 19:34] dantswain commented on #197
@dcuddeback That is a good point, but without more of the stack trace we can't know if this was the error or not.  @steffenix mentions the error code but doesn't tell us which error code was received or if there even was one.  We really need more information here.

@dcuddeback Do you have any experience with the "partial message" being returned?  The wording in the documentation is very vague.  Wh

[2017-03-14 21:23] dcuddeback commented on #197
@dantswain I do not. Since it says it's an optimization, I hope it can just be ignored as if it wasn't intended to be part of the payload. Since the response does contain the size of the message, the client could presumably use that information to adjust the size of its next fetch request and attempt to refetch the message.

[2017-03-14 21:37] bjhaid commented on #197
for this particular case we should ignore the message, we already possibly throw away excess binary [here](https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/protocol/metadata.ex#L110), and for fetch if the offset is not committed a subsequent fetch should be fine.

[2017-03-14 21:39] dcuddeback commented on #197
The Ruby client seems to ignore it, too: https://github.com/zendesk/ruby-kafka/commit/c933344cbd829c6d096d93a1dbd12f035b843081

[2017-03-15 01:29] steffenix commented on #197
@dantswain I couldn't get a dump of the full message as it crashed on the pattern matching. My guess was that they were an error making the pattern matching to fail but it might be partial message.

[2017-03-21 06:59] ook commented on #197
Sorry to enter that ticket that way, but it seriously looks like my current problem: I have streaming consumers (on your current `stream` branch) that are "stuck" on a given message, without payload returned by `KafkaEx.stream/3`, so the function return immediatly. When I have a look to the partition with `KafkaEx.earliest_offset/3` and `KafkaEx.latest_offset/3`, I see the partition is still growi

[2017-03-21 07:22] steffenix commented on #197
In my case it was making the pattern matching crash.
Do you have any dump of your messages if you have the offset you can read the message from kafka. That would be nice to help on this issue.

[2017-03-21 09:07] ook commented on #197
Very interesting! Even now I think the problem is not related to that issue.
What I see when calling `KafkaEx.fetch/3` is the `message_set` contains only one message.
But when I call `KafkaEx.stream/3 |> Enum.take(1)` I get an empty collection:

[code]

[2017-03-21 12:23] bjhaid commented on #197
@ook you should not hijack a different issue/thread you should create a new issue instead, the offset in the fetch response struct is same as the offset you supplied as the last_offset, stream will intentionally not return this see [here](https://github.com/kafkaex/kafka_ex/blob/1a76e29687101660ba9a768b453f80009898b5f2/lib/kafka_ex/stream.ex#L25-L26) otherwise you will always get a message from th

[2017-03-31 09:36] Fuffi commented on #194
Hi, any updates on this?

[2017-03-31 13:37] Fuffi opened #199 "How to run with Heroku Kafka?"
Has anyone managed to get this running on heroku? Can you provide the configuration required?

All I get is this for now:

[code]

[2017-03-31 17:55] dcuddeback commented on #199
@Fuffi We're using kafka_ex on Heroku in a private space. Here's a snippet from one of our `config.exs` files:

[code]

We're using `KAFKA_PLAINTEXT_URL`, which is only available in private spaces. We haven't tried to use it with SSL yet. I think that's blocked by #194.

[2017-03-31 23:32] dantswain commented on #199
@fuffi it looks like maybe you're not setting `use_ssl: true` in the config. Can you confirm either way?

[2017-04-03 14:25] dantswain commented on #194
It should be possible to use the full set of ssl options as of 0.6.5

[2017-04-03 14:25] #194 closed

[2017-04-03 14:26] dantswain commented on #199
@fuffi 0.6.5 released this morning should support the full set of erlang ssl options.  Please give that a try and let us know what you find.

[2017-04-07 02:29] steffenix opened #201 "Start worker without kafka supervisor"
Using the example provided on the readme
[code]

I get the error:

[code]

I am using the latest version of kafka_ex 0.6.5.

----

After investigating, I can start it using KafkaEx.Server0P8P2 instead of KafkaEx.Server.

[2017-04-07 14:52] dantswain commented on #201
Thanks, @steffenix !

[2017-04-25 03:07] zapient opened #202 "Consumer group metadata is uninitialized"
When running in a clustered environment a `:not_coordinator_for_consumer` is thrown on any request before the `consumer_group_update_interval` elapses. It looks like the initial state is never initialized.

[code]

[2017-05-04 21:29] thuey commented on #137
@bjhaid

What should you do if your app _is_ consume heavy?

[2017-05-04 22:51] dantswain commented on #137
@thuey The only real way to scale consumer speed with Kafka is to have more partitions.  The basic model of Kafka kind of necessitates one connection per partition.  You may be using poolboy for a worker pool on the client side, but that's outside the scope of KafkaEx.

I recommend pinging us on the #kafkaex channel on elixir-lang.slack.com for further advice.

[2017-05-18 22:20] steffenix opened #205 "Reopen socket when it closed"
I open the discussion on how to handle socket reopening.
I am thinking about two solutions:
- Check periodically the sockets and reopen the one closed.
- Handle reopening after an HTTP call error.

[2017-05-24 21:18] zapient opened #206 "DefaultPartitioner"
There should be a partitioner class to that behaves similar to the [Java DefaultPartitioner](https://github.com/apache/kafka/blob/trunk/clients/src/main/java/org/apache/kafka/clients/producer/internals/DefaultPartitioner.java#L54-L71) so that we can deterministically write to the same partition given a key. Adding in default round-robin behavior in the case of no partition or key should also be in

[2017-05-24 21:26] dantswain commented on #206
Thanks for the suggestion, @zapient.

I disagree with the idea that this should be automatic.  I think it masks behavior and doesn't go along with the idea that this is a fairly low-level library.  I think it could, on the other hand, make sense to add a partitioner `behaviour`, provide an implementation module that matches the Java default, and update the documentation to make its use clear.  Wou

[2017-05-24 21:31] zapient commented on #206
That would be great.

[2017-05-24 21:31] bjhaid commented on #206
I agree on this, however this should be a very simple implementation to demonstrate how folks can plug in their implementation if they need to

[2017-05-24 21:36] zapient commented on #206
Agreed. Luckily the java implementation is pretty straightforward with the exception of the Murmur hashing algorithm. Not sure how you feel about adding in external dependencies but there is already an [existing implementation](https://github.com/gmcabrita/murmur) of this.

[2017-05-24 22:09] dantswain commented on #206
Hm. The java implementation has a state - it basically steps through the available partitions for a given topic, so it has to have a running global counter for each topic .  I'd really like to avoid introducing more state if it's at all possible.  For example, at work we either just modulo a random number or modulo the timestamp.  It isn't always _perfectly_ balanced but it's good enough for us in

[2017-05-24 22:51] zapient commented on #206
If a behavior is defined it should be trivial for anyone wanting that exact behavior to implement themselves so that really isn't a concern.

I'm not too familiar with implications of that either. It could be a problem if one assumes that all events are ordered for a given key and both a Java and KafkaEx client are writing those events but I wouldn't think that is a valid use case. As long as the

[2017-06-07 20:08] tzzzoz opened #208 "Offset option works oddly in stream/3"
I have a topic named `requests`, then I produced only one message to this topic by this way:
`KafkaEx.produce("requests", 0, "hey")`
When I tried`KafkaEx.stream("requests", 0, offset:  0) |> Enum.to_list`, as the way I understand, it should return the message I produced, but it didn't. Instead it returned back `[]`, an empty list.

I followed [this example](https://hexdocs.pm/kafka_ex/KafkaEx.html

[2017-06-14 08:13] retgoat opened #209 "ENV variables"
Hey!

I'm trying to configure KafkaEx with env variables and [Envy](https://github.com/BlakeWilliams/envy)

But it seems KafkaEx trying to start before all variables are read.

Here is my config file

[code]

Here is the error raised on app start

[code]

If I set all config values without env vars all work perfectly.
Could you please advice?

Many thanks!

[2017-06-14 08:18] retgoat commented on #209
Sorry, my bad. I should set `disable_default_worker: true` and then start my own.

[2017-06-14 08:18] #209 closed

[2017-06-14 13:34] dantswain commented on #209
@retgoat Glad to see you were able to resolve this!  You may want to be careful about using `System.get_env/1` (or any other function calls) in your config.exs.  The config.exs file gets evaluated at compile time, not at run time.  It might not work as expected, depending on how you deploy & run your code.

[2017-06-15 18:25] lbrito1 opened #210 "Unable to use consumer groups"
I've been using the latest (0.65) version successfully with a dockerized Kafka 0.10.2.1. For testing purposes, I have a single topic with one partition and one replica. I have set `consumer_group: "elixir_default"` on my `config.exs`.

Fetching works fine. However, when I try to use the `consumer_group` option in a worker (with any value - be it the default group or not), I get a `consumer_coordin

[2017-06-15 22:06] dantswain commented on #210
@lbrito1 Have you tried publishing to the topic before consuming from it?  I have seen similar issues but they are usually transient (i.e., works on a second run, or a restart of everything).

[2017-06-16 17:15] lbrito1 commented on #210
@dantswain The topic had a few messages prior to this test. I'll try restarts and will report back with the results.

[2017-06-16 17:30] lbrito1 commented on #210
I can confirm that restarting the services (Kafka, ZK and Elixir docker containers) solved the issue in my case. Thanks for the help @dantswain !

[2017-06-16 17:30] #210 closed

[2017-06-16 17:47] dantswain commented on #210
:+1: Great to hear!  I hope we can get rid of this error in general, but I'm glad you were able to move forward.

[2017-07-11 18:59] #202 closed

[2017-07-15 18:31] dantswain opened #214 "Spec for KafkaEx.Protocol.Fetch.Response.partition_messages is incorrect"
The spec says it returns a list but it returns a map.  Also, should this be a struct?

[2017-07-24 02:07] jadbox opened #216 "Avro compression"
Most modern use of Kafka is with Avro compression. Is this possible with this lib? If so, could we get an example?

[2017-07-24 02:35] dantswain commented on #216
Hi!  I don't believe any client integration is required to send Avro messages over Kafka.  One would simply serialize their Avro messages before publishing and then deserialize on consume. The binary data should go over the wire just fine.

The only compression codecs that Kafka supports are gzip, snappy, and LZ4. KafkaEx currently supports gzip and snappy.

I'm going to close this issue. Please f

[2017-07-24 02:35] #216 closed

[2017-07-24 17:15] dplummer commented on #216
Hey @jadbox, I use Avro encoding of messages. We wrapped the Erlang `erlavro` library in Elixir with [Avrolixr](https://github.com/avvo/avrolixr). We haven't done a good job on docs for that project, but you should be able to add it to your deps `{:avrolixr, "~> 0.3"},` then decode the binary message with `Avrolixr.Codec.decode`.

[2017-07-25 13:10] #145 closed

[2017-07-25 13:10] #214 closed

[2017-07-25 13:13] dantswain commented on #191
Hi @kevinbader The stream rewrite is complete.  If you have a chance could you check out the latest master and see if it still exhibits this behavior?

[2017-07-25 13:13] #185 closed

[2017-07-25 13:15] dantswain commented on #141
@dplummer The stream rewrite is complete.  This should no longer be an issue.  I'm going to close this issue because we were pretty confident that the implementation using GenEvent was causing the leak and the new implementation doesn't use GenEvent at all.  If there is a memory leak with the new implementation, it should be a new issue as it almost certainly has a different underlying cause.

Tha

[2017-07-25 13:15] #141 closed

[2017-07-25 13:17] dantswain commented on #208
Hi @tzzzoz can you retry your experiment with the current master?  The stream implementation has been rewritten and should behave correctly.

[2017-07-27 12:16] tzzzoz commented on #208
Thanks for your great works! 👍  I just upgraded to `0.7.0` and it seems that it works very well. So, I will close this issue.

[2017-07-27 12:16] #208 closed

[2017-07-27 14:28] dantswain commented on #208
:+1: Thanks for confirming, @tzzzoz !

[2017-08-09 01:15] dantswain opened #223 "Consumer Group - Meaningful error on JoinGroupResponse error"
Follow-up task to #219

[2017-08-28 14:22] dantswain commented on #223
I realized I opened this without leaving much of a breadcrumb trail for what actually needs to be done.

https://github.com/kafkaex/kafka_ex/blob/ede2b09b6fd67decd1fea10aee0194a443fe5778/lib/kafka_ex/consumer_group/manager.ex#L203

[code]

This will result in a match fail if there is anything other than an "ok" response from the broker, which will crash the worker without much of a useful message

[2017-08-29 13:06] dantswain commented on #67
Consumer group implementation was finished in #219 and is now in master.  I would like to do a couple cleanup tasks and then a release.  HUGE thanks to @dcuddeback and @cdegroot for their help in implementing this!

[2017-08-29 13:06] #67 closed

[2017-08-29 13:09] dantswain commented on #191
I'm going to close this unless we get a confirmation that the problem persists after the stream rewrite.

[2017-08-29 13:09] #191 closed

[2017-08-29 13:10] dantswain commented on #199
I'm going to close this until we can get confirmation and more details on a persistent problem.

[2017-08-29 13:10] #199 closed

[2017-08-29 13:12] dantswain commented on #94
This should be closed as of #196

[2017-08-29 13:12] #94 closed

[2017-08-30 14:25] dantswain commented on #223
Closed by #224

[2017-08-30 14:25] #223 closed

[2017-08-30 14:36] dantswain opened #226 "Consumer groups do not rebalance automatically when partitioning changes"
The following can occur:

* A topic exists with, say, 4 partitions.
* A KafkaEx consumer group begins consuming from those partitions.
* The topic is reconfigured to have, say, 8 partitions.
* The KafkaEx consumer group will continue to only consume from the initial 4 partitions until a rebalance is forced (e.g., a worker restarts/joins/leaves).

For now this can be managed easily enough by manual

[2017-09-04 12:56] dantswain opened #230 "Support pull-based consumer groups for GenStage users"
In #143 we more or less decided that supporting GenStage would be out of scope for this library.  On the other hand, talking with some folks recently now that our consumer group implementation is released, I think it would be feasible to at least support someone building their own GenStage producer (and maybe providing an example).

If I'm understanding correctly, the only thing this really requir

[2017-09-04 13:06] bjhaid commented on #230
I experimented with this and offset management was what put me off, genstage expects that you can assign counters to the data being streamed, however with Kafka you can only request for a number of bytes, accurately mapping bytes to a counter in Kafka is difficult. If you want to model it like the stream implementation, you lose some of the guarantees provided by genstage, e.g: back pressure all t

[2017-09-08 17:26] dantswain commented on #230
I mostly agree.  From my understanding, GenStage is just not a great fit for Kafka, at least not in a generic sense.  I _am_ becoming convinced that there are some use cases where it could work fine, though, and mostly what I want to accomplish here is to make it possible.  That is, I think we can make some relatively small changes to GenConsumer that do not break the current API but do open up th

[2017-09-11 18:06] cdegroot commented on #230
@bjhaid can't you in 0.10 consumers specify the number of messages you want to receive?

[2017-09-11 19:44] bjhaid commented on #230
@cdegroot I have not been following the changes to the API, can you link relevant doc?

[2017-09-11 20:17] cdegroot commented on #230
Hmm... I think I was referring to the Java driver's "max.poll.records" which I assumed had a protocol-level corresponding setting; digging through the protocol, though, I can't find it. Too bad - seems to be a Java-only thing then?

[2017-09-22 08:34] tzzzoz opened #233 "When a connection timeout occured, fetch/2 couldn't handle the exception"
Stacktrace
[code]
A timeout occured while connecting to kafka brokers, `fetch/2` could not handle the `nil` response.

[2017-09-25 12:57] dantswain commented on #233
Thanks, @tzzzoz .  I've seen this a few times as well.  It is definitely a problem, and this extra context helps!

[2017-09-27 13:20] dantswain opened #236 "Call for comments - Should ConsumerGroup support a back pressure mechanism and how?"
What I mean here by back pressure is dwelling between `fetch` calls.  This is an important part of many production systems where a stream processor may need to pause consuming from an upstream in order to allow some downstream condition to clear.

I can think of two alternative approaches:

1) The consumer could dwell in the `handle_message_set` call:
[code]

2) Defer this behavior to pull-based c

[2017-09-27 13:31] dantswain opened #237 "Default implementation of GenConsumer's handle_call fails dialyzer"
The callback spec says the implementation must return a `{:reply...}` tuple, but the default implementation returns an atom.  This causes dialyzer to error out if the user does not implement a callback.

[2017-09-27 21:46] #237 closed

[2017-09-27 23:02] dantswain opened #239 "There's no way to set fetch options for GenConsumer"
max_bytes and min_bytes are important to some users.  We are also not passing a value for auto_commit, so probably actually committing messages before we mean to.

[2017-10-11 14:20] jamesduncombe opened #242 "SASL support"
Is there currently a way to integrate SASL support?

Thanks,

James

[2017-10-12 19:22] joshuawscott commented on #242
Not currently, although a PR is always welcome.

[2017-10-13 18:35] jasongoodwin opened #243 "Distillery - Compiled Application Trying to Connect To Host That App Was Built On"
For some reason, if I compile an application w/ Distillery when my IP address is 192.168.5.106, then get on another network, KafkaEx tries to connect to the IP address I compiled the application on.

Eg I compiled the app when my IP was 192.168.5.106. Then I try to run it.

This doesn't return anything:
`grep -r 192.168.5.106 ./*`

But in the log I see this:
[code]

If I change Logger to print app

[2017-10-13 18:39] dantswain commented on #243
This depends on how your application is set up.  It's important to note that config/config.exs is evaluated at compile time.  So, for example, if you are using `System.get_env`, you may be pulling in the IP of your machine at compile time.  The distillery-built release will be loading a file called `sys.config` that is generated from your mix config.

If you can reproduce with a demo project, that

[2017-10-13 19:02] jasongoodwin commented on #243
K I have an example - I'm pushing it up now. Will leave a link in a moment.

[2017-10-13 19:08] jasongoodwin commented on #243
https://github.com/jasongoodwin/kafka_ex_ip_release_issue

[2017-10-13 19:15] jasongoodwin commented on #243
I don't see how this is possibly happening.

[2017-10-13 21:53] joshuawscott commented on #243
Is this on the same computer as before? Did you restart kafka after changing IPs?

[2017-10-13 22:00] joshuawscott commented on #243
I was able to replicate. Kafka advertises an IP address that it determines when it starts up. If the IP address changes, you have to restart kafka or it will continue to hand out that IP.

Simplified flow of connecting to kafka
* App tries to connect to localhost:9092
* Kafka responds "cluster hosts are 192.168.0.2:9092 and 192.168.0.3:9092"
* App connects to 192.168.0.2:9092 and 192.168.0.3:9092

[2017-10-13 22:18] jasongoodwin commented on #243
Okay im conflating the issues then! Thanks so much.

On Oct 13, 2017 6:00 PM, "Joshua Scott" <notifications@github.com> wrote:

[2017-10-17 15:13] bjhaid commented on #243
@joshuawscott can we close this?

[2017-10-17 20:16] #243 closed

[2017-10-19 19:08] dantswain opened #244 "Support offset storage in Kafka"
I'm not clear on the details here but it came up at work.  This is supposedly the preferred method now.  It's not clear in the docs if this means changing something in the client protocol or setting something on the broker side.  If it is on the broker side we can simply close this issue, but I didn't want to lose track of it until I can confirm either way.

https://kafka.apache.org/documentation/

[2017-10-24 20:34] dantswain opened #245 "Support the newest message formats for Kafka versions that support them"
This will be a fairly large undertaking.

https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-TheAPIs

Each message type has one or more versions, and the versions were implemented in a particular version of the broker.  The correlation is very inconsistent (e.g., v0 always starts with the first version of the broker that implements a message, s

[2017-10-24 20:34] dantswain commented on #244
This turns out to be due to the older message format being used.   Closing in favor of #245

[2017-10-24 20:34] #244 closed

[2017-11-13 21:05] dantswain opened #246 "A down broker causes unnecessary restarts"
If we have a three broker cluster in the config, but one of those brokers is down, the application appears to continually crash and restart.  The cluster is set up properly to handle the down broker and other (non-KafkaEx) services appear to adapt to this just fine.

Removing the downed broker from the config list resolves the problem.  I.e., this is not a problem with the way the client runs but

[2017-11-15 16:30] dantswain opened #247 "A broker going down or coming up causes a never-ending loop of rebalances"
We have been having hardware issues with one of our brokers.  Whenever it goes down, our consumers (using ConsumerGroup) end up in an endless cycle of rebalancing the consumer group.  The only way to resolve this is to stop all of the consumers in the group for around 60 seconds so that the broker recognizes that the consumers are all "dead", then restart the consumers.  The same thing happens whe

[2017-11-16 21:51] dantswain commented on #247
Status update.  I'm unable to reproduce this yet with a local cluster, but it's a big issue for us in production so I am heavily invested in fixing it.

[2017-11-16 22:29] dantswain commented on #247
cjpoll in #kafkaex slack appears to be noticing a similar problem.

[code]

[code]

[2017-11-16 22:32] CJPoll commented on #247
It does appear to be related to either network connectivity issues or a flapping instance:
[code]

[2017-11-16 22:36] CJPoll commented on #247
A coworker of mine was able to reliably reproduce these errors in dev last week. I'll see if I can get him on this.

[2017-11-16 22:56] dantswain commented on #247
This seems like it could be related: http://grokbase.com/t/kafka/users/163e1ez4q9/unknown-member-id-assigned-to-consumer-group

consumer could rejoin. Basically it works like this:

[2017-11-16 22:59] dantswain commented on #247
@cjpoll If your coworker can get this to reproduce that would be super helpful.  I have been tweaking my "examples" repo and trying to change the state of brokers using docker - https://github.com/dantswain/kafka_ex_examples/pull/1

[2017-11-16 23:16] CJPoll commented on #247
So we turned off the app workers  (10 BEAM VMs), and our number of connections to a single broker went from 76,000 connections to 370 (and dropping). When do connections to Kafka get created, and which processes manage those?

[2017-11-16 23:20] dantswain commented on #247
Each partition creates a connection to each broker.  This is known to be wildly inefficient but generally hasn't been a problem.  It's definitely in the "would like to clean that up" category, but hasn't been urgent.

[2017-11-16 23:26] CJPoll commented on #247
Under what conditions do sockets get closed? Looking in `:gen_tcp`,
![image](https://user-images.githubusercontent.com/1310084/32921391-b8a75d08-caea-11e7-9bcd-b5616ec51ca1.png)

I'd venture a guess that process crashes aren't closing TCP connections. I'll dig through the code to see if I can see a way that would happen.

[2017-11-16 23:28] dantswain commented on #247
That's possible.  We could be orphaning connections.  The network connection code is relatively well segregated in KafkakEx.  I'm not sure if that's the culprit here, though.

[2017-11-21 15:26] dantswain commented on #247
OK!  I think I have a fix here. See #251

I'm going to also post here how I was able to reproduce this issue.  @CJPoll tell me if this makes sense given what you observed.

0.  Open two terminal windows/panes.  I'll refer to them as Terminal A and Terminal B.

1. Clone https://github.com/dantswain/kafka_ex_examples.git and check out the `broker_bounce` branch.

2. `mix deps.get` and `mix compile`.

[2017-11-22 16:09] #247 closed

[2017-11-24 00:50] MiLk commented on #233
We always encounter this issue.
Here is the logs:
[code]

We are using Kafka 0.11.0.1 from https://github.com/confluentinc/cp-docker-images
Our topic has 5 partitions, and we are using a ConsumerGroup.

While in our setting, we have:
[code]
I noticed it's using `Server0P8P2`, I don't know if we are missing something, if it's normal or if there is a bug.

[2017-11-24 13:48] bjhaid commented on #233
This is a known problem, see https://github.com/kafkaex/kafka_ex/pull/235

@MiLk you are not doing anything wrong seeing `Server0P8P2`, the implementation for fetch is same across 0.8.2 and 0.9.0 and probably same up to 0.11.0, see: https://github.com/kafkaex/kafka_ex/blob/93facc0d045efc109472d9f5969910b017ad4427/lib/kafka_ex/server_0_p_9_p_0.ex#L34

[2017-11-24 13:50] MiLk commented on #233
Ah cool, thanks then.

[2017-11-24 13:50] bjhaid commented on #233
From the comments on the linked PR, the correct fix isn't also complicated so we'll appreciate if someone can send in a PR to fix this problem. See https://github.com/kafkaex/kafka_ex/pull/235#issuecomment-332309314 specifically

[2017-11-28 19:52] dantswain opened #253 "gzip test failure on macOS"
I've just recently started seeing this error:

[code]

I'm on macOS 10.13.1 with Erlang 20.1.7 from homebrew and elixir 1.5.2 from kiex.  I'm not sure if this is an Elixir/OTP version problem or a mac problem.  I just checked and we're not testing against 1.5.2/20.1 in Travis, which we should be doing.  I'll open a PR to do that.

I did modify the test a bit to get it to tell me exactly which byte

[2017-11-28 22:13] dantswain commented on #253
#254 tested with Elixir 1.5.2 and OTP 20.1 did not reproduce this issue, so it seems to be specific to my setup.

[2017-11-28 22:20] dantswain commented on #253
I get the same error with 1.5.1, and with 1.5.2 re-installed.  I have wiped deps and _build between attempts.

It's possible these are equivalent gzipped data, maybe?

[2017-11-29 01:58] bjhaid commented on #253
maybe print out the binary data and compare?

[2017-11-29 14:15] dantswain commented on #253
@bjhaid I did (effectively) do that.  That's where this came from:

[code]

Those are the bytes that are different (`{index, got, expected}` (i might have got/expected backwards)).  I haven't worked back through the protocol yet to figure out what part of the message that is.  It's clearly not the entirety of the binary data of the message.

[2017-11-29 14:20] dantswain commented on #253
@joshuawscott was unable to reproduce this on his mac.  He is not on high sierra and I am.

[2017-11-29 14:50] bjhaid commented on #253
This commit https://github.com/erlang/otp/commit/948ee9b34f34a55cb4b70b7077a849c7dc7a5f18 modified the internals of the erlang gzip function, can you try using an OTP prior to any of this:

[2017-11-29 15:33] dantswain commented on #253
@bjhaid I have a confirmed failure from someone running an OTP 20.0 release on High Sierra.

I think this may have to do with the linked version of zlib?  With homebrew you can find out the version by doing something like this:

[code]

I don't know if it's that the version has changed or that the version shipped with High Sierra is somehow different.  This is not even necessarily a bug - I think

[2017-11-29 15:36] bjhaid commented on #253
👍

[2017-11-29 20:58] dantswain commented on #253
OK, I did quite a lot of digging here and I'm pretty sure that the only difference is in the zlib header, and that it won't cause any problems.  I'm going to try to figure out a way to change the tests that still tests the functionality but won't fail when zlib changes.

[2017-11-30 20:52] dantswain commented on #253
Closed by #256

[2017-11-30 20:52] #253 closed

[2017-12-04 23:00] thecodeboss opened #258 "offset_out_of_range error when starting a consumer group"
When starting a consumer group, there should be a check that the consumer group offset is larger than the earliest offset available in Kafka.

For example, currently if a consumer group offset is 0, but Kafka's earliest offset is 100, it's impossible to start up a `KafkaEx.ConsumerGroup` without first requesting changes to the consumer group offset, since

**Proposed solution:**

When consuming me

[2017-12-04 23:07] dantswain commented on #258
Thanks for the issue @thecodeboss!

If I understand correctly, I'm not sure that this is something that we should handle automatically.  If you are running a consumer group and your consumer's offsets are out of range, you probably want to know that rather than have the worker quietly start consuming from the earliest offset available.  Kafka provides tools to manage consumer group offsets in situ

[2017-12-04 23:20] thecodeboss commented on #258
@dantswain the callback mechanism would definitely be helpful.

Right now our approach during startup is to first edit our consumer offset before doing `Supervisor.start` on the `KafkaEx.ConsumerGroup`. But we still run into cases where the consumers don't keep up and things crash. It also seems like manual and unnecessary work, since the consumer should be smart enough to not request data that do

[2017-12-04 23:29] thecodeboss commented on #258
Looking at the [kafka-python repo](http://kafka-python.readthedocs.io/en/master/apidoc/kafka.consumer.html?highlight=auto_offset_reset#kafka.consumer.KafkaConsumer), it seems the way that library handles this is to have a parameter when creating the consumer called `auto_offset_reset`. You can then specify a policy for how to handle the errors automatically.
Perhaps `KafkaEx.GenConsumer` could sup

[2017-12-05 11:12] rom8726 opened #259 "no way to get topic name from handle_message_set/2 function"
In consumer group I can't get topic name for message. I implemented function handle_message_set(message_set, state) and state is nil!

[2017-12-05 11:23] dantswain commented on #259
Hi @rom8726

I’m traveling today so won’t be able to type out anything longer for a few hours but did you set up your state in the GemConsumer init callback?  Take a look at https://hexdocs.pm/kafka_ex/KafkaEx.GenConsumer.html#module-handler-state-and-interaction - it shows the topic and partition being passed to the init callback.  You should be able to pass them along as state for the GenConsume

[2017-12-05 17:32] #259 closed

[2017-12-05 22:26] dantswain opened #260 "Call for discussion - Does anyone use the 0.8.0 or 0.8.2 implementations?"
We maintainers are discussing dropping the 0.8.0 and 0.8.2 client implementations.

Does anyone in the community use these implementations or is everyone using the 0.9.0 implementation?

Note that existing versions of the package on hex.pm would still support 0.8.0 and 0.8.2, we would just be removing them going forward.

Feedback is appreciated!

[2017-12-06 02:59] joshuawscott commented on #260
As long as we are going to a new major version, I'd be in favor of dropping those, especially if it will make it easier to get the protocol implementation flexible enough to match the specifications for 0.9, 0.10, 0.11, 1.0 etc.

[2017-12-06 10:00] dams opened #261 "not able to access message timestamp"
Hi,

I'm consuming messages from a topic where brokers automatically set timestamps to messages when they reach them.

I'd like to access this timestamp when I'm consuming the messages, but I can't find a way to access it.

For reference, it 's the Timestamp field in the kafka message protocol, here: https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaPr

[2017-12-06 15:04] cdegroot commented on #261
I think that https://github.com/kafkaex/kafka_ex/issues/245 covers this. Of course, as usual with Open Source, the quickest way to get things done is to implement it and submit a PR ;-)

[2017-12-06 16:52] dantswain commented on #261
Hi @dams, it does look like this is because we are using the v0 format.  I am currently working may way up to the new formats, but it may take a while because I have to do it in a way that will (hopefully) work for everyone.  If you need this urgently, you might be better off forking the repo and making the changes you need :/  Of course if you come up with a good strategy for supporting the vario

[2017-12-07 07:59] dams commented on #261
I have implemented a great deal of the Perl Kafka driver, and the way I did it was to implement support for the api that returns what the broker is capable of, then choose the highest supported version for each api endpoint. Then each time a request is done, the apiversion is set, and kept around when we receive the reply. Then data decoding is done consistently.

I’ll fork and patch for my need a

[2017-12-07 13:40] joshuawscott commented on #261
We could do that if:
1. we dropped support for 0.9 and before (0.10 is the first version that supports the ApiVersionsRequest API). This isn't an option yet, since we are still using 0.9 for at least another month or so.
2. we refactor the code to allow setting versions in the various API requests. Currently everything is hard-coded to version 0.

[2017-12-07 13:53] dams commented on #261
1. I faced the same issue in the Perl client. What I did was trying to query the ApiVersionsRequest API. If it fails, we consider version 0.9, and all api endpoint versions are set to 0.9.

2. Indeed it's what needs to be done. Not a huge change but it needs to be done carefully: supported versions are per API endpoint but *also* per brokers. You can have 3 brokers in 0.9 and one in 0.10 (especial

[2017-12-07 15:02] joshuawscott commented on #261
🤔  That's a good idea, but we'd need to drop 0.8 support at least (https://github.com/kafkaex/kafka_ex/issues/260)

It sounds easy to just pick an API version per broker version, but the code wasn't laid out in a way that makes that easy; that's the main part of the problem.

[2017-12-07 15:23] dams commented on #261
Indeed, I didn't check how hard it would be to lay out the code again. about 0.8 support, in the Perl client, here is what happens, from higher to lower priority:
If the user sets an ApiVersion to use, use that (that's the only way to get version 0.8). Otherwise, try ApiVersionsRequest and sets ApiVersions per brokers and endpoints. Otherwise default to 0.9

[2017-12-07 16:35] bjhaid commented on #261
I actually think it shouldn't be difficult to implement, the protocols are completely decoupled from the server/worker implementations, and the logic for differing logic between 0.8.0, 0.8.2 and 0.9.0 are also decoupled. If I was going to implement this I'll start off implementing the wire protocol, which is most likely just making slight modification after copying the base implementations and the

[2017-12-07 18:37] dantswain commented on #261
I'm working on some refactoring of the server implementations right now and I had planned to revisit the protocols after that.  I'm traveling this week, though, so progress is a bit slow right now.  Anyone else is welcome to take it on but let me know so we don't duplicate efforts.

[2017-12-08 11:16] adrienmo commented on #239
Hi @dantswain I am not sure if this issue as been resolved or not, the documentation says max_bytes can be configured in KafkaEx, but I am not sure how to?

https://github.com/kafkaex/kafka_ex/blob/f7e8a6d858bc145fd2752b75b43eca8fc32f95bf/lib/kafka_ex/gen_consumer.ex#L48

This issue let me think it is not possible, but the documentation says it is.
Can you help me clarify the situation here ? Than

[2017-12-08 20:20] craig-day opened #262 "KafkaEx.GenConsumer has an unhandled `handle_info` case"
Every time a message comes across the topic I'm watching, I see the consumer crash and then restart. This doesn't actually cause any problems thanks to the supervisor, but why does it crash?

Here are the errors I see

[code]

Any pointers are appreciated

[2017-12-08 20:23] dantswain commented on #239
Hi @adrienmo, the documentation is incorrect right now.  The documentation says how it SHOULD work but this issue is to track the fact that it doesn't work as it should.

It shouldn't actually be too hard to fix this if you'd like to take it on ;)  Otherwise it'll be in our hopper to get to as soon as we can.

[2017-12-08 20:32] dantswain commented on #262
Hi @craig-day this looks like some process that your consumer is linked to is crashing and the consumer is catching the `{:EXIT, _, _}` signal. It would be helpful to figure out which process `#PID<0.738.0>` is.

[2017-12-09 21:19] craig-day commented on #262
Thanks for the response @dantswain. After a little more digging, it was an interesting failure message. It turns out that was because I didn't have the `snappy` dependency, but didn't see a useful log message in my dev environment. In my production environment I got a much more useful error message.

[code]

[2017-12-09 22:15] dantswain opened #263 "Investigate more useful errors when compression dependencies are unavailable."
See #262 for an example of this causing confusion for a user.

We should be able to check that the compression dependency is available at runtime.  This could be a little tricky because it could incur a performance penalty in the critical code path when consuming messages.

As an alternative, perhaps we could detect this at compile time and emit a warning message.  The downside of this approach is

[2017-12-09 22:17] dantswain commented on #262
Thanks for following up on this, @craig-day !   This is a little tricky for us because not every user requires compression, so we can't really require the compression dependencies.  Since you've found the root cause of your issue, I'm going to close this.  I've opened #263 to keep track of investigating ways to improve the feedback to the user in this kind of situation.

[2017-12-09 22:17] #262 closed

[2017-12-09 22:22] craig-day commented on #262
Awesome. Thanks! Yeah this is an interesting case. I'm mostly interested in why there were two failure modes here. I'll keep an eye on #263 and see if I can contribute anything useful.

[2017-12-09 22:24] dantswain commented on #262
@craig-day my gut is that you have different logging levels/configs for prod and develop, and that they were the same failure mechanism but you saw them through different lenses.  Are they the same versions of Elixir and OTP?

[2017-12-09 22:27] craig-day commented on #262
Same versions of elixir and OTP (running in a docker container) but the log level might be different. I'm using this in an umbrella app, and don't change logging in the app where I use kafka_ex, but in my umbrella app config I do set the logger level to info in prod. I can play around with that to see if I can get the error to appear in dev.

[2017-12-13 22:53] craig-day opened #265 "How to handle changing brokers, or not knowing brokers at startup"
I've been working with this for a while and one pain point is that the kafka_ex otp app wants the brokers to be there on startup.  In the case of my application, I look up the available kafka brokers from a [consul service catalog](https://www.consul.io/api/catalog.html) during the start of my application. This become a problem because my application doesn't start until after the otp apps of my de

[2017-12-14 13:51] dantswain commented on #265
Hi @craig-day !    This isn't documented super well (I had to dig for a few minutes to find it myself), but I think this _should_ be doable without any changes to the library.  If you're using workers bare, you can pass in uris as an option to `KafkaEx.create_worker`.  If you're using consumer groups, you can pass the uris option along in its options.  I.e., if you check out the [ConsmerGroup docu

[2017-12-15 18:55] craig-day commented on #265
Thats awesome. Thanks for the quick reply. I will test out these options and let you know how it goes. Feel free to close this issue in the meantime, and I'll just drop a comment on here after I've done some investigation.

[2017-12-15 19:38] dantswain commented on #265
Thanks, @craig-day !  I'll go ahead and close this, but we'd be glad to hear your findings.  Feel free to open more issues if you have any follow-up or run into any problems!  Also feel free to ping us on the #kafkaex chat on elixir-lang.slack.com.

[2017-12-15 19:38] #265 closed

[2017-12-16 05:35] wilbertom opened #267 "Error connecting on Kafka version 0.8.1.1"
Hello,

I had a short conversation about this with @dantswain about this today on slack but I wanted to open an official ticket.

When using the latest `kafka_ex` and `kafka` `0.8.1.1` versions, the following issue occurs while trying to start a consumer.

[code]

@dantswain I'm almost certain consumer groups are supported in this version of Kafka because we use consumer groups with this version i

[2017-12-16 06:07] wilbertom commented on #267
Some other things noticed, here the library is trying to use `KafkaEx.Server0P9P0` when on version `0.8.1`. Trying to force `KafkaEx.Server0P8P0` via `kafka_version: "0.8.0"` in the `config.exs` results in a different error:

[code]

[2017-12-16 19:33] dantswain commented on #267
Hi @wilbertom !  You could try using the 0.8.2 implementation - KafkaEx doesn't do any actual runtime checking against the broker's reported version.  0.8.1 may or may not support "consumer group" offset management, but the fully automatically rebalancing consumer groups that we implented with `KafkaEx.ConsumerGroup` and `KafkaEx.GenConsumer` are not supported until Kafka 0.9.0.

Are you stuck wit

[2017-12-17 01:22] bjhaid commented on #267
I am positive 0.8.1 does not support consumer group offset management, offsets were still stored in zookeeper in 0.8.1

[2017-12-19 02:46] wilbertom commented on #267
@dantswain I'll leave my comments about versions in #260.

@bjhaid yes that is the behaviour I was thinking of.

[2017-12-19 02:46] #267 closed

[2017-12-19 02:56] wilbertom commented on #260
@dantswain we had some conversations about an older version of Kafka so here are my two cents.

In production environments in bigger companies, we sometimes don't control what versions of a software are used. Upgrading takes a huge organizational effort to upgrade all dependent components.

That said I think your comment on older versions of the library supporting the older versions of Kafka are a

[2017-12-21 22:17] undergroundwebdesigns commented on #199
Does anyone have an example of connecting to Heroku's SSL protected Kafka instances using string certs & keys? (e.g. pulled from the ENV variables) This https://elixirforum.com/t/using-client-certificates-from-a-string-with-httposion/8631/11 discussion seems to indicate that the raw strings need to be decoded, but I haven't found an example of how to handle the CA Cert, and haven't been able to ge

[2017-12-29 14:10] dantswain opened #269 "Error on fetching message sets larger than max_bytes"
See #268 for details and some discussion.

[2018-01-11 13:07] Overbryd commented on #197
This problem is currently halting our consumers. How to handle this?

[2018-02-06 21:12] thecodeboss commented on #260
Bit late to the party, but I will add that our infrastructure still relies on Kafka 0.8.1.1 quite a bit. There have been some efforts recently to upgrade, though as @wilbertom mentioned that sort of upgrade is difficult.

Saying that, I'm okay with dropping support for future versions - I can always fork to try and get any fixes if necessary.

[2018-02-06 22:10] thecodeboss opened #270 "Add handle_info/handle_cast callback to GenConsumer"
Currently `KafkaEx.GenConsumer` allows you to specify a `handle_call` callback, so calls can be made to perform logic on consumers (with `KafkaEx.GenConsumer.call`).

However there is no equivalent for `handle_info` or `handle_cast`, and so all messages sent to a consumer must be synchronous.

I'm wondering if this is by design, or would it make sense to add these callbacks? I'm happy to take a st

[2018-02-07 04:22] joshuawscott commented on #270
I don't know of any reason why this couldn't be done. What sort of use case did you have in mind for sending async messages to the consumer?

[2018-02-07 09:45] tomazbracic opened #271 "General question - Kafka_ex "maintenance" mode"
Hi,
I am dealing with … how to drain my node (part of a cluster), where kafka_ex is set up. Why? Because I would like to prepare a strategy to stop consuming messages from Kafka, and wait that this node finish processing the data that is already “in”… and then put down the release, upgrade/change/maintain it… and then bring it up again… and all this as part of rolling upgrade/… strategy. Before co

[2018-02-07 15:20] dantswain commented on #271
Hi @tomazbracic This question is very difficult to answer because it depends very much on the structure of your application and your usage patterns.   When we do upgrades, we simply restart the workers - any messages that haven't been acknowledged yet will be consumed by another worker.  That works for our use case, and I can understand where that's not everyone's use case.

If it takes a long tim

[2018-02-09 08:28] thecodeboss commented on #270
We have consumers that read from Kafka, and apply rules to each message as it comes in. Those rules need to be periodically changed though, and so I'd like for another process to be able to send the new rules to the consumers so they can update their state. Call works, but I'd prefer to be able to cast the message instead.

[2018-02-09 13:53] joshuawscott commented on #270
You might consider just having the rules in ETS, otherwise you'll end up having to send messages to all the GenConsumer workers. If you had the rules in ETS, you could have a separate GenServer that owned the ETS table and did the updates via a cast.

Either way, though. A PR to allow handle_cast would be fine, I think.

[2018-02-14 15:15] #233 closed

[2018-02-16 13:34] #239 closed

[2018-05-09 14:09] jasongoodwin opened #286 "Tries to start consumer that is already started"
We see cases where KafkaEx tries to start a consumer that is already running for some reason. Looks pretty benign. I'm assuming this is internal to kafka_ex but let me know if I'm off here.
Started doing this after a crash observed in a genserver. Continues to throw these errors into the log.

We have a bug, but it seems to spin kafka_ex into this weird behaviour

Kafka_ex 0.8.0

[code]

[2018-05-15 16:20] arcoviilan opened #287 "Exactly once delivery?"
Hi,

Does kafka_ex currently support exactly-once delivery for producers and consumers?

[2018-05-15 18:07] joshuawscott commented on #287
Kafka claims to provide exactly-once semantics in 0.11 and up:
https://www.confluent.io/blog/exactly-once-semantics-are-possible-heres-how-apache-kafka-does-it/
but there are a lot of caveats:
https://softwaremill.com/what-kafka-exactly-once-really-means/

KafkaEx currently only supports up to the 0.9 API, so the 0.11 features are not available. Additionally, achieving exactly-once depends strongl

[2018-05-15 20:14] arcoviilan commented on #287
Thanks, @joshuawscott!

So I'm currently using Erlang and really want a Kafka extension which guarantees exactly-once delivery, is it possible to achieve exactly-once in KafkaEx, say using at-least-once delivery and idempotent operation? If not, do you have any suggestions about how to implement exactly-once feature based on KafkaEx or using any other approaches?

[2018-05-19 16:35] joshuawscott commented on #287
If you have idempotent operation, then you basically get exactly-once just by ensuring you don't commit an offset until the operation has been verified. This is possible now for consumers. You could have the same thing for producers by looking at how Kafka implemented this in 0.11 (basically by creating unique sequential identifiers outside kafka and ensuring you do not produce out of order)

[2018-05-19 16:39] joshuawscott commented on #140
I think this has been done with the release of the GenConsumer stuff? (feel free to re-open if there's something I'm missing)

[2018-05-19 16:39] #140 closed

[2018-05-19 16:59] joshuawscott commented on #201
Seems to be fixed by #204

[2018-05-19 16:59] #201 closed

[2018-05-19 17:26] joshuawscott commented on #269
Is this fixed now? we raise a specific error for this case (changed in #268)

https://github.com/kafkaex/kafka_ex/blob/b0d472b2919e40ba403ad1e3b3a9224290827788/lib/kafka_ex/protocol/fetch.ex#L77

not sure what else we could do to handle the issue.

[2018-05-23 14:55] joshuawscott opened #291 "Use iolists when building packets"
#290 / #231 Implemented using iolists / iodata when building produce protocol messages. This results in a significant speedup in those parts of the code, especially with larger messages/message sets.

We should use a similar strategy for the other protocol message modules.

[2018-06-02 14:15] jasongoodwin commented on #286
Seems like it can get stuck in a loop where it does this indefinitely. It's hard for me to characterize further without reproducing but here is an error we see before it spins out trying to restart the existing consumer.

[code]

[2018-06-04 03:03] jasongoodwin opened #293 "Support new consumer offset api?"
Does Kafka_ex support the new java consumer offset api instead of using the zookeeper one? It can be a lot more difficult to manage the offsets vs the other libraries we're using in different technology stacks.

[2018-06-05 13:28] joshuawscott commented on #293
This is definitely on the list of things to do, but supporting the variations in the API required is going to require some significant changes to the codebase, so it is not done yet. 😞

[2018-06-18 12:34] Freyskeyd opened #294 "ConsumerGroup and auto_offset_reset"
Hello,

I'm trying to implement a consumer that only consume new event. I tried to use `auto_offset_reset` with both `:latest` and `:earliest` but nothing worked.

Does any example exists that can help me clarify this part of the configuration?

Thank's

[2018-06-18 17:11] joshuawscott commented on #294
`auto_offset_reset` only applies if the consumer attempts to retrieve an offset that no longer exists on the broker. If you want to start from the last offset every time you start consuming, then I don't know if you can do that using the GenConsumer API. Consumer groups are intended to ensure that you don't miss any messages.

[2018-06-18 21:18] gerbal commented on #294
You could fetch the latest offset using [KafkaEx.latest_offset/3](https://hexdocs.pm/kafka_ex/KafkaEx.html#latest_offset/3), and pass that value in the `fetch_options` parameter.

But as Joshua said, if you don't care about guaranteeing delivery, you probably don't need to use consumer groups. [KafkaEx.fetch/3](https://hexdocs.pm/kafka_ex/KafkaEx.html#fetch/3) or [KafkaEx.stream/3](https://hexdocs

[2018-06-19 06:00] Freyskeyd commented on #294
Did you have an example of `fetch` or `stream` in a supervisor tree?

[2018-06-19 14:59] joshuawscott commented on #294
Looks like you got this working, so I'm going to close this issue if that's ok. Feel free to re-open if you have further questions on this.

[2018-06-19 14:59] #294 closed

[2018-06-20 06:40] Freyskeyd commented on #294
@joshuawscott It works but I think this consumer is not properly setted up.

I don't see it on topics consumers :/

I'm using kafka 1.0.1.

any idea?

[2018-06-20 15:05] mbana commented on #168
+1

[2018-06-20 15:06] mbana commented on #169
+1

[2018-06-21 14:09] joshuawscott commented on #294
kafka_ex uses the older method of saving consumer_group offsets to zookeeper at the moment. In any case, I don't know that you would see a consumer that isn't part of a consumer group anywhere, and I don't think the implementation you posted above would have a consumer group.

[2018-07-02 07:49] Freyskeyd opened #295 "Dialyzer error on GenConsumer"
Hello,

I tried to fix an error on Dialyzer analysis but it's weird:

[code]

I get this error on module using GenConsumer.
I tried to find a solution but I don't find any good path to follow...

i'm using: kafka_ex 0.8.3

[2018-07-02 14:12] joshuawscott commented on #295
I ran into this as well, and am going to look into a fix today.

[2018-07-02 17:48] #295 closed

[2018-07-02 20:05] joshuawscott commented on #295
@Freyskeyd this was fixed in #296 which has now been merged.

[2018-07-18 09:39] jbruggem commented on #168
FYI, I've started working on this here: https://github.com/kafkaex/kafka_ex/pull/297

It's probably not mergeable yet, but it works.

[2018-07-18 10:04] IanVaughan opened #298 "How to handle "Could not connect to broker"?"
If the Kafka broker is not present/found, then the `KafkaEx.ConsumerGroup` crashes, which brings down the whole app.

[code]

The error comes from the result from `create_worker/2`
https://github.com/kafkaex/kafka_ex/blob/236629efbc8a55a9637496d29bcce7ec1ccb1b0c/lib/kafka_ex/consumer_group/manager.ex#L96
Which returns
[code]

1. Should the library handle this better?
    1. could add a `case` on t

[2018-07-18 14:35] joshuawscott commented on #298
I've wrestled with how to solve this a few times.

I believe the library handles this appropriately because catching the error and *not* crashing would introduce problems with applications that rely on kafka for their basic function. Put another way: how would kafka_ex tell the application that it lost the kafka connection?

As for how to handle this to prevent crashes, are you seeing this on appl

[2018-07-18 16:13] IanVaughan commented on #298
That is a good question, my original question is really only aimed at application startup, and the handling of errors connecting initially.
I guess maybe there could be callbacks, eg `on_connection_lost` etc.

Initially yes, so I dug in and thought I'd wrap the KafkaEx.ConsumerGroup setup within my own supervisor so I can handle connection problems and reconnecting etc.

But as you can see from ab

[2018-07-18 19:19] joshuawscott commented on #298
I suspect that we'd fix this by maybe returning `{:stop, reason}` instead of `raise`ing. I would have to dig into it to figure out how to do that. PRs are of course welcome if you see a way to avoid the startup crash, or optimally to make it rescueable.

[2018-07-18 20:20] IanVaughan commented on #298
I did look at this, but to my current knowledge I belive its hard to do, as the raise is within the Supervisor callstack and not something we can rescue from, AFICT.

To me, that sounds really good, I was almost going in that direction anyway, so will have a play and see if what I can do looks any good.

Thanks for your help and advice.

[2018-07-18 22:04] IanVaughan commented on #298
Thinking out loud on here, and having had a quick play, it may be more involved than I first thought.
As returning `{:stop, reason}` from `init` from a child of a supervisor, will cause the whole supervision tree to bail.

https://hexdocs.pm/elixir/Supervisor.html#start_link/2

I think the only/correct way to solve is to separate supervisor/server init phases from kafka connecting phases, such tha

[2018-07-30 02:55] tilo opened #299 "Using ENV variables in Config file"
This does not work:
[code]

How are ENV-variables supposed to be referenced in the config file?

It would be good to include that in the example config file!

[2018-07-30 02:57] #299 closed

[2018-07-31 13:25] dantswain commented on #293
@jasongoodwin Can you clarify what you mean?  Exactly what is easier with other libraries?  I just want to make sure I understand your request because it helps us decide where to focus our efforts.  AFAIK the API itself is mostly unchanged, but with the newer versions of the protocol Kafka will decide to store the offsets in Kafka rather than zookeeper.  KafkaEx never directly talks to zookeeper -

[2018-08-05 16:01] technomage opened #300 "Support for controlling initial offset"
We have cases where a newly starting app should read beginning with the earliest offset of a topic.  Currently there is an option to reset offset when it is out of range, but not one to force it to earliest on startup.

[2018-08-05 17:44] technomage opened #301 "Graceful handling of :topic_not_found"
We have circumstances where a topic is deleted and recreated, it would be nice to be able to gracefully handle the :topic_not_found error in those cases.  Allowing for that in the consumer and an optional callback to ignore would be sufficient.  Let me know if this would be acceptable and I can do a pull request.

[2018-08-06 18:16] joshuawscott commented on #300
Is this using the consumer group functionality, or the lower level consumers?

[2018-08-06 18:37] joshuawscott commented on #301
Is this in the GenConsumer and related consumer group functionality, or is this the lower level consumer?

[2018-08-06 18:39] joshuawscott commented on #298
@IanVaughan We're always open to pull requests. I think being able to handle this sort of thing gracefully would be a good idea if you're open to doing the pull request.

[2018-08-07 08:46] IanVaughan commented on #298
@joshrotenberg thats good news, as I am 50% way done with a bit of a reorg.

A brief overview is that I've split the `GonsumerGroup.Manager` boot sequence out of the `init/1`, into 3 phases, which get called in sequence when each is successful, but retry if not.

More details to follow, I will push an MR when its looking ready, and welcome any advice.

[2018-08-09 22:11] jasongoodwin commented on #286
saw this again today

[2018-08-10 09:05] IanVaughan commented on #301
I've spotted this as well, and think I might have a solution as part of https://github.com/kafkaex/kafka_ex/issues/298, in which it can be setup to retry attempting to connect to a topic until present.

[2018-08-10 14:12] joshuawscott commented on #286
Are you still on 0.8.0, or have you moved to the latest?

[2018-08-16 16:56] IanVaughan commented on #260
It would help me a lot, as I have some changes that I've only made in 0.9 server module at present, so if it's deprecated then I can hold off thinking about updating the other server version modules.

[2018-08-16 16:58] IanVaughan commented on #260
How would this be best done? Completely remove the < 0.9 server modules? Or phase it, so initially add some form of depreciation warning if the `kafka_version` is less than `0.9`?

[2018-08-16 17:00] IanVaughan commented on #286
@jasongoodwin You may be interested to read/comment on https://github.com/kafkaex/kafka_ex/issues/260

[2018-08-16 17:03] IanVaughan commented on #300
I was wondering about this too.

Within a GenConsumer, one could either update the response from the `init/1`, or add a new callback, say `handle_initial_offset/1`for example, that could return `current_offset`, thus preventing the `load_offsets` from being [called via the timeout here](https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/gen_consumer.ex#L553-L559), but its just an idea!

[2018-08-16 19:29] joshuawscott commented on #286
I meant for KafkaEx, sorry @jasongoodwin

[2018-08-17 13:45] steffenix commented on #205
I think a way to reproduce this is to open a connection do nothing for few minutes and try to insert a message. But this was a long ago I think it's only with kafka 0.8.2 because their is no ping mechanism so I built my own.

[2018-08-21 13:34] travcunn commented on #293
We are using this library in production and we have 2 avenues for monitoring Kafka offsets for our alerting system: 1) Check zookeeper for offsets 2) Ask Kafka for offsets

It would be nice if we only had to check Kafka for offsets in our monitoring/alerting system.

[2018-08-21 14:07] bjhaid commented on #293
@travcunn what version of kafka are you running, FWIW kafkaex should be able to retrieve offsets from 0.8.2 kafka see the implementation here:

https://github.com/kafkaex/kafka_ex/blob/7b939a1bdbbbcae7cf7dc4dbd118d5c50da75bdc/lib/kafka_ex/server_0_p_8_p_2.ex#L82-L111

[2018-08-24 19:19] technomage commented on #301
I ended up using a module that delays the retry by monitoring the consumer rather than directly placing it in the supervisor tree.  This is working for me.

[2018-08-26 23:52] batasrki opened #306 "Manual committing of offsets"
Hello,
I apologize if I have missed some aspect of documentation, but I was wondering if there is an example of how to commit offsets manually rather than using an interval.

I'm using Kafka as a backbone of a webhook delivery system. As such, I don't want to be committing an offset to Kafka before the HTTP call is completed. As a competing interest, I also don't want to be serially consuming from

[2018-08-27 15:40] batasrki commented on #306
@bjhaid thanks for the pointer. When you say "disable auto-committing", you mean at the Kafka configuration level?

[2018-08-27 15:44] bjhaid commented on #306
@batasrki I am referring to the call of `Kafkaex.fetch`

[2018-08-28 01:38] batasrki commented on #306
@bjhaid thanks for the prompt responses, :). I will explore. Closing this issue.

[2018-08-28 01:38] #306 closed

[2018-09-07 10:38] namxam opened #307 "Idea: Document snappy usage on server"
Hi there,
we are currently exploring `kafka_ex` in combination with `snappy`. It works quite nice, but we hit an issue when we deployed to a staging system. It was crashing because `snappy nif` was not loaded. We checked the setup again and again until we realized, that we had to put the snappy libs onto our deployment container as well. It was a really quick and easy fix, but finding the source c

[2018-09-12 04:31] gabiz opened #308 "KafkaEx.ConsumerGroup is not scalable"
KafkaEx.ConsumerGroup cannot scale to large number or topics/partitions.

**How to replicate**

Launch kafka docker:

[code]

Create topic with say 100 partitions

[code]

Create mix project with default config and `ExampleGenConsumer` from documentation and the following supervisor:

[code]

Run project and launch observer. Without even sending or receiving messages the Scheduler Utilization gets

[2018-09-13 22:23] gerbal opened #309 "unhandled timeout in GenConsumer.consume can result in consuming events multiple times"
If `KafkaEx.fetch` in `GenConsumer.consume` returns a timeout it can cause the ConsumerGroup to recreate the GenConsumer supervision tree, but leave existing GenConsumers active and consuming events.

This can lead to multiple consumers consuming from the same partition.

A log of a consumer dieing on timeout

[code]

After a few timed out connections the supervision tree ends up like so:

![selec

[2018-09-14 01:04] joshuawscott commented on #309
Thanks for the report.

How are you supervising the KafkaEx.ConsumerGroup? When I start up a pretty basic application, KafkaEx.Supervisor is in the kafka_ex app, not under the same supervisor as KafkaEx.ConsumerGroup and KafkaEx.ConsumerGroup.Manager. Any possibility of sharing the application start/2 function or at least how the supervision tree is set up?

[2018-09-14 01:50] gerbal commented on #309
Sure, this is within the context of [KaufmannEx[(/sevenmind/kaufmannex). I'm using a `:one_for_all` supervision strategy in my supervisor. the `Supervisor.init/1` looks like so:

[code]

[2018-09-19 13:51] gerbal commented on #309
Thanks!. Running KafkaEx in the supervision tree was a partial cause of this issue. The rest was buggy code on my part.

[2018-09-19 13:51] #309 closed

[2018-09-19 13:52] joshuawscott commented on #309
Thanks for the update!

[2018-09-19 16:52] jruhland opened #310 "GenConsumer returning timeout"
We're having an issue with our GenConsumer intermittely reporting timeouts and I'm here seeking some assistance in root cause diagnosis.   Current theory is consumer is aggressively timing out the requests and were not handling the returned timeout, but were mostly concerned with why its timing out in the first place.

Running elixir 1.5 so the stacktraces arent particularly helpful to us.

elixir

[2018-09-19 19:40] joshuawscott commented on #310
Are you on the latest 0.8.3 release @jruhland ?

[2018-09-19 20:18] jruhland commented on #310
yessir

[2018-09-19 21:32] joshuawscott commented on #310
I rarely see this issue now that I have a heartbeat of 1 second. I am not entirely sure if that was the fix or not. e.g. with a child spec:
[code]
(basically passing a keyword list with heartbeat_interval to the ConsumerGroup.start_link/4 function)

If you want to have a more live discussion, feel free to ping me on the Elixir slack https://elixir-slackin.herokuapp.com/ in the #kafkaex channel

[2018-09-19 21:37] jruhland commented on #310
👍 ill try it out.  going to close and chat there if needed

[2018-09-19 21:37] #310 closed

[2018-09-20 11:02] IanVaughan opened #311 "Offset not being visibile on broker"
Using LensesUI, we noticed that the Offset for the KafkaEx consumer was not being shown, when it is for other client consumers.

But, I believe it to be working ok, as in, I can kill the consumer app, keep publishing messages externally, and when the consumer boots back up, it seems to pick up from where it was last.

### Lenses UI

KafkaEx consumer never shows an Offset, even though its processed

[2018-09-20 15:18] joshuawscott commented on #311
Related to: https://github.com/kafkaex/kafka_ex/issues/293

PRs are welcome to make the Kafka-based offset storage a reality, unfortunately I have not had time to tackle this yet.

[2018-09-20 17:05] IanVaughan commented on #311
I tried that out, slight tweak to the zookeeper host, and it wasn't happy :-/
[code]
But was intresting non the less.

Of course, thats completly fine, I was more registering an issue and hoping it was something I had wrong, but as you have linked, I now see the issue, and this can be closed in favour of that one.

[2018-09-20 17:05] #311 closed

[2018-09-20 21:08] joshuawscott commented on #311
@IanVaughan what version of kafka?

[2018-10-04 13:39] joshuawscott commented on #308
@gabiz were you able to try this out to see if it resolved the issue?

[2018-10-06 22:26] marinakr opened #314 "Read configuration from env after release"
I want to use different configs for mix env. (Broker addresses)
But the main problem that release runs with env that was on build and changing KAFKA_BROKERS after release do nothing
I have environment variable
KAFKA_BROKERS="travis:9092"
1) If I set broker in prod.exs file this way
`config :kafka_ex,
  brokers: "${KAFKA_BROKERS}"`
I receive an error `Port not set for kafka broker ${KAFKA_BROKERS}

[2018-10-06 22:33] gerbal commented on #314
Release configuration is a known tricky thing in Elixir.  You can [configure distillery](https://github.com/bitwalker/distillery/blob/master/docs/config/runtime.md to use a config provider and read env vars at runtime.

[2018-10-06 22:43] marinakr opened #315 ":invalid_consumer_group error on prod env"
I have an umbrella app used kafka_ex
I have only one config file config.ex and same environment for prod, dev and test mix env described in conig.exs
test successfully passed and I see some actions in kafka while running tests:
https://travis-ci.org/edenlabllc/ds.api/jobs/438089904
But if I start appication in background from release I will get error
`KafkaEx.start(:normal, []) returned an error:

[2018-10-08 09:07] marinakr commented on #315
This issue occurred when in_umbrella app connected to kafka, and two main application used this app, and one of those apps has connection to kafka in config, but both apps failed. Separation kafka dependency  to main applications fix this problem

[2018-10-08 09:07] #315 closed

[2018-10-11 00:07] joshuawscott commented on #314
You can call `System.get_env("KAFKA_BROKERS")` to retrieve configuration at runtime. See
https://github.com/kafkaex/kafka_ex/blob/master/config/config.exs#L25 for an explanation of how that works. The short version is that you will need to wrap it in a function so that it can be called at runtime.

[2018-10-11 00:07] joshuawscott commented on #308
Closing because I believe it is resolved by a configuration change.

[2018-10-11 00:07] #308 closed

[2018-10-11 00:09] joshuawscott commented on #307
I think the README would be a decent place to put that, maybe under the https://github.com/kafkaex/kafka_ex#compression section?

[2018-10-11 00:12] #287 closed

[2018-10-11 09:14] marinakr commented on #314
It does not works with `System.get_env` because release generated in travis with travis env, and on start it use env what was on release

[2018-10-11 13:49] joshuawscott commented on #314
Say we need to have kafka1:9092, kafka2:9092, kafka3:9092 brokers. We set KAFKA_BROKERS environment variable like
[code]

The configuration file should look like:
[code]

Which will call the following at runtime:
[code]

[2018-10-11 23:05] dopatraman commented on #210
This problem has resurfaced for me with a slightly different face.

I'm trying to produce to a group `kafka_ex11` and getting this error:
[code]

This is my producer:
[code]

and consumer:
[code]

What am i doing wrong?

[2018-10-11 23:11] joshuawscott commented on #210
You have to produce to a topic, not a consumer group.

[2018-10-11 23:30] joshuawscott commented on #210
Looking at this further, it appears you have ACLs set up to control access to the consumer group. KafkaEx unfortunately doesn't support ACLs at this point, although PRs are always welcome!

[2018-10-15 13:43] #168 closed

[2018-10-16 08:43] jbruggem commented on #169
Implemented in Kafka 0.10.0.0: https://issues.apache.org/jira/browse/KAFKA-3307

[2018-10-16 08:56] jbruggem commented on #169
Supported by Kafka since version 0.10.1.0

See: https://issues.apache.org/jira/browse/KAFKA-2946

[2018-10-17 22:16] amorphid commented on #298
@IanVaughan @joshuawscott I've just discovered the joy of my app blowing up when there are no Kafka brokers available because of [this raise](https://github.com/kafkaex/kafka_ex/blob/a745ca084dc15517a9e0e06e177b56b9fb8b4eca/lib/kafka_ex/server.ex#L426).  It'd be awesome to have an option to avoid that pain.  To be specific, I'd love to see an error message get logged instead having an exception ge

[2018-10-18 07:28] jbruggem opened #318 "Add support for ApiVersions"
Supporting this would allow, starting with 0.10.0.0, to not have to individually support versions of the server in the client. KafkaEx could just determine at startup which messages are supported with which version. In the config, choosing `kafka_version: "latest"` would allow support any version starting with `0.10.0.0`.

From the doc :

See:
* Message spec: https://kafka.apache.org/protocol.html

[2018-10-23 21:18] epinault opened #321 "Many reconnections"
Hi

I am using Elixir 1.7, KafkaEX  0.8.3 and I am curious why I seeing many reconnection in my log, very frequently. This is running Kubernetes/docker environment.

Here is a sample

[code]

What I noticed is that it seems to be using quite a bit of CPU churning because likely of that behavior

Unfortunately looking at the code I cannot tell wether the heartbeat fails or sesssion timeout

But we

[2018-10-24 12:54] joshuawscott commented on #321
The excessive CPU usage might be the same issue as #308
I don't recommend setting your log levels to debug in production; the way the kafka protocol works is that clients are eventually timed out, and have to re-connect. Are you consuming messages during this time, or are the consumers caught up?

[2018-10-24 14:37] epinault commented on #321
Usually the consumers are caught up and have no work

What is weird is I looke at 308 but I don t see that on my local development box that behavior. I see the scheduler being less that 5% and no reconnect at all.  But I ll give that a try and see if that helps

[2018-10-24 15:00] epinault commented on #321
Ok, so it definitely helped drop the CPU usage (I still need to remove the logging).

I do still see those messages but per what you are saying it seems to make sense

what is the side effect of changing the wait_time here?

[2018-10-24 15:34] joshuawscott commented on #321
When the client attempts to get a message, but none are available, it waits for the `wait_time` milliseconds before requesting again.

[2018-10-24 16:28] epinault commented on #321
👍 thank you for your help and prompt reply! totally make sense why get a thundering hord and CPU usage!

[2018-10-24 16:28] #321 closed

[2018-10-25 14:33] marinakr commented on #269
I got same error
` ** (EXIT) an exception was raised:
        ** (RuntimeError) Insufficient data fetched at offset 662363595135136302. Message size is 825622528 but only received 244 bytes. Try increasing max_bytes.`
and looks like kafka_ex reads all messages (37) stored in kafka. Can this error be fixed in kafka_ex with chunk reading data?

[2018-10-25 17:51] BenMorganIO opened #322 "What are the success and failure responses for KafkaEx.publish/2"
Hey guys,

I noticed while using the library that there's many responses that `KafkaEx.publish/2` may produce. Namely:

[code]

Would it be possible to make it more uniform so that it is:

[code]

This would make building robust applications with KafkaEx for easier. Also, I don't think we need an `any()` in the `{:error, _}` if we're already defining different types.

[2018-10-26 00:39] joshuawscott commented on #269
it appears as though the message size is 825MB, which means you need to increase max_bytes to at least that size to be able to consume it. As an aside, I would not recommend using kafka for messages of that size.

[2018-10-26 08:37] marinakr commented on #269
But it would be great if kafka_ex will read big message by chunks (for example 80 times by 10 MB) and then return one message. Also  825MB it is not one big object in kakfa, because the size of one message pushed to kafka in this test env is about 50KB

[2018-11-06 13:36] #318 closed

[2018-11-09 03:13] jfmyers commented on #242
Hi there, just wanted to check in to see if there are any updates on this? Trying to integrate with Confluent cloud and it's currently not possible given the lack of SASL support. If there still is no support, happy to submit a PR.

Thanks!

Jim

[2018-11-09 15:04] bjhaid commented on #242
There's currently no support and we accept PRs. Thanks!

[2018-11-21 23:08] thecodeboss opened #324 "Release 0.8.4?"
A kafka_ex release hasn't been published to Hex since March, and there have been lots of changes. Could one of the maintainers release this?

There were some nice Dialyzer fixes a while back I'd like to get.

[2018-11-25 18:52] joshuawscott commented on #324
I can do this soon; I'm trying to figure out why I'm running into a couple of dialyzer issues locally before I release

[2018-11-30 16:10] jasongoodwin commented on #286
Sorry for the slow reply - kafka_ex 0.8.2
I still see these periodically.

I just remembered we're actually on a fork of 0.8.2 but I don't believe any of the changes would cause this - we added the ability to supply init params to gen consumers iirc. But it's another variable. It's just impossible to reproduce - it just periodically appears in running systems. We have 32 or so production servers r

[2018-12-04 14:03] joshuawscott commented on #286
This sounds like a race condition, and a few of those were fixed in KafkaEx 0.8.3 when moving the heartbeat to a separate process.

[2018-12-05 14:27] baszkok opened #326 "Apache Kafka new versions support"
Hello, can we use kafkaex with latest Apacha Kafka versions >= 2.0.0? Should everything works without problem?

[2018-12-06 14:45] joshuawscott commented on #326
I've tested with 2.0.0, and as far as I know there should be no issues with the others in the 2.x series.

[2018-12-07 14:25] #100 closed

[2018-12-07 17:29] #326 closed

[2018-12-11 01:21] haluan opened #330 "Got Issue with initial connection"
Hi kafka_ex team,

I got two errors during inital connection:

1. `[error] Could not connect to broker "9fac7e99f3bd":9092 because of error {:error, :econnrefused}`
2. `[error] Fetching consumer_group kafka_ex metadata failed with error_code :consumer_coordinator_not_available`

I used kafka_ex version 0.9.0 and I only have one kafka and one zookeeper.

Pls help what should I do fo phoenix config

[2019-01-17 21:04] #206 closed

[2019-01-18 18:01] technomage commented on #298
I have a somewhat related issue.  I need to connect to brokers dynamically, not statically.  Having the broker defined in config is a huge problem for me.  I would love to see the app startup sequence be simply setting up the server processes and then have the connection be done via API rather than all the config values being global.  There could be a startup option to do the simple case, but curr

[2019-01-18 18:04] joshuawscott commented on #298
@technomage KafkaEx supports runtime configuration:
https://github.com/kafkaex/kafka_ex/issues/314#issuecomment-428962507

[2019-01-18 18:07] technomage commented on #298
Interesting but not addressing my problem.  In my app the user selects a cluster/set of brokers from the UI and I need to point to the brokers at runtime after the app is up and running.

[2019-01-18 18:09] technomage commented on #298
I could live with having Kafka_ex not start up at app startup and manually starting it then shutting it down between broker selections.  But, currently the brokers have to be identified and fixed at server startup which is not a good use case for us.

[2019-01-18 18:10] joshuawscott commented on #298
Can you open a new issue for this? it doesn't seem related to the original crash reported here.

[2019-01-18 18:11] technomage commented on #298
ok

[2019-01-18 18:13] technomage opened #334 "Support dynamic connections"
Currently Kafka_ex requires the set of brokers to be known before server startup (in config or environment variables).  In our case we need to dynamically connect to multiple Kafka clusters.  Ideally we would be able to control the startup of kafka_ex and have zero, one, or multiple clusters active.  This means the app would need to not fully spin up on server startup but just instantiate the supe

[2019-01-18 18:15] bjhaid commented on #298
@technomage does the ideas recommended here:

https://github.com/kafkaex/kafka_ex#use-kafkaex-with-a-pooling-library

not work for you?

also here:

https://github.com/kafkaex/kafka_ex#create-a-kafkaex-worker

under the

section

[2019-01-18 18:17] bjhaid commented on #298
and you probably want this too:

https://github.com/kafkaex/kafka_ex/blob/76c752b82c48d04281b8fcf4ad4f14c4fbed335b/config/config.exs#L36-L39

[2019-01-18 18:19] technomage commented on #298
Thanks.  I did not get from the docs how these fit together.  I will try that.

[2019-01-23 16:39] jasongoodwin opened #336 "receiving unhandled :EXIT message due to calling Task.async from GenConsumer"
I'm seeing this error in a case that isn't that unusual or farfetched and it causes the consumer terminate in kafka_ex 0.8.2.

If you call Task.async from within the process boundary of the GenConsumer, the task will fire back the termination message.

Use case: we receive a message from kafka, then use a registry as an event bus to broadcast the message to many processes asynchronously, then awai

[2019-01-24 15:00] joshuawscott commented on #336
A Default `handle_info` clause was added to the GenConsumer implementation in 0.8.3

On the latest version, this is the result:
[code]

[code]

[2019-01-24 15:00] #336 closed

[2019-01-31 22:53] daekano commented on #300
I am interested in such an option as well. I can't find any functions to call or callbacks to define in order to initiate replay.

[2019-02-05 23:38] tompave commented on #242
Hello, is anyone currently working on this? @jfmyers

[2019-02-20 19:43] tilo commented on #242
@jfmyers ping

[2019-02-20 19:44] tilo commented on #242
ping @joshuawscott

[2019-02-20 19:44] bjhaid commented on #242
@tompave @tilo whichever of you wants to work on it can proceed

[2019-02-20 19:47] joshuawscott commented on #242
We don't use SASL for Kafka, so I have no plans to do this. We definitely welcome a PR though!

[2019-02-27 23:30] Yamilquery commented on #298
I have the same issue. I have a server running with Apache Kafka. Even if I try to open the URL from the browser I get a message from the Kafka log, however when I start my elixir application with kafka_ex I get the following error:

`[error] Could not connect to broker "www-kafka":9092 because of error {:error, :nxdomain}`

Could you explain to me, what can be this error?

[2019-02-28 00:44] bjhaid commented on #298
@yamilquery your issue is DNS related, you should confirm you can resolve the hostname from the same place the application is running, e.g:

`dig +short www-kafka`

[2019-02-28 02:30] Yamilquery commented on #298
Thank you very much, I solve it!

[2019-03-06 12:32] #293 closed

[2019-03-06 12:32] #286 closed

[2019-03-07 19:50] mtrudel commented on #308
@joshuawscott do you have any insight into any operational risks of using a much larger (around 10s or so) value for this?

We use Kafka as a backing queue, but our use is a little different than most Kafka environments (we provide an on-prem app that's hosted within a single VM). Specifically, we don't make any explicit use of multiple servers or partitioning, and only very modest use of multiple

[2019-03-08 02:45] joshuawscott commented on #308
@mtrudel There's no issue unless you are doing `GenServer.call`s into the GenConsumer. In that case, you would need to take care that you increase those timeouts to more than the 10 seconds the GenConsumer would be potentially blocked waiting on a response from the broker.

I'm not completely sure if the kafka broker has a timeout related to this or not.

I don't think increasing wait_time is indi

[2019-03-08 14:16] mtrudel commented on #308
It helps immensely, thank you! We're generally using Kafka as an adjunct to our main app (and even then in a rather off-label fashion), so it's hard for us to know what typical Kafka defaults make sense in our case or not.

Generally, we're using it as a simple low volume, high fanout queueing system with lots of low volume queues (some are empty for hours or days at a time) and multiple single-wo

[2019-03-13 19:31] skateinmars opened #340 "Consumers do not create topics automatically"
On the server side, kafka has a `auto.create.topics.enable` setting that determines whether a topic can be used "on the fly" without having to create it manually beforehand.

In other languages/libraries, such as the kafka-console-consumer "official" CLI that uses the java library, or https://github.com/Shopify/sarama (a pure go implementation), starting a consumer or a consumer group for a non-ex

[2019-03-14 13:28] gorenje commented on #293
FWIW, I was looking at some [python code](https://github.com/dpkp/kafka-python/blob/703f06590be2daa7e4592b3d82df6d719a6829bb/kafka/protocol/commit.py#L44-L74) and it does seem that the request (i.e. api version 0 or 1) decides where offsets are stored. From that code, it also seems that the requests are slightly different. (I'm running 0.11 and it happily accepts both locations for offsets.)

I've

[2019-03-14 15:54] pbamba commented on #340
Hello @skateinmars 👋

As you mentioned, most libraries provide the ability to automatically create topics.
However, this is not recommended for production purposes for a range of reasons (default number of partitions, topic will be automatically recreated even after deletion...).
So, out of curiosity, why do you need that feature added to the library? 🙂
It would be nice to have the pain point you'

[2019-03-15 13:13] bjhaid commented on #293
@gorenje we will accept PRs to include the behavior you want

[2019-03-15 13:18] bjhaid commented on #340
I'll rather see this implemented explicitly via CreateTopics protocol:

https://kafka.apache.org/protocol.html#The_Messages_CreateTopics

We'll accept PRs for the explicit CreateTopics, see a similar PR for DeleteTopics:

https://github.com/kafkaex/kafka_ex/pull/338/files

[2019-03-15 13:21] bjhaid commented on #340
I think this:

is a bug that probably needs a separate issue/PR, I expect the consumer group creation to halt if the topic does not exist. Also we welcome PRs to address it :)

[2019-03-15 15:34] skateinmars commented on #340
I'll admit auto creation is usually considered an anit-pattern!

What do you think the behaviour should be?
Should the `KafkaEx.ConsumerGroup` crash?

[2019-03-15 15:40] bjhaid commented on #340
Maybe or not return with an error at creation, I don't have strong opinions...

[2019-03-18 16:04] joshuawscott commented on #340
I think autocreation could be an option; I'd be concerned about doing it by default.

I think returning an error at creation vs crashing is basically the same thing, since returning anything besides an :ok tuple during start_link is going to force the supervisor to crash. I'm fine with it crashing if it cannot find the topic (I would have expected that this would happen already)

[2019-03-26 19:19] YakShavingCatHerder commented on #293
@gorenje could you provide an example of your fix for this issue?
Currently running Kafka 1.1 and the consumer groups for all microservices running kafka_ex have no offsets. I can see from the code you linked that the `OffsetCommitRequest_v1` class is what needs to be called in my situation but I'm fuzzy on how to implement that change.

[2019-03-26 19:33] gorenje commented on #293
@YakShavingCatHerder I'm actually using my [own branch](https://github.com/gorenje/kafka_ex/tree/use_v1_commit) and setting the use_v1_commit in the config.exs. So mix.exs includes this in the deps:

[code]
and config.exs has this:
[code]

that should make it write to kafka.

[2019-04-17 17:59] aportnov commented on #310
I am having the same problem:

GenServer #PID<0.576.0> terminating
** (stop) exited in: GenServer.call(#PID<0.577.0>, {:fetch, %KafkaEx.Protocol.Fetch.Request{auto_commit: false, client_id: nil, correlation_id: nil, max_bytes: 1000000, min_bytes: 1, offset: 1002, partition: 1, topic: "elixir.echo.updates", wait_time: 10}}, 5000)
    ** (EXIT) time out
    (elixir) lib/gen_server.ex:989: GenServer.

[2019-04-26 00:35] brianlow opened #346 "Argument Error :erlang.hd([]) on Elixir 1.8.1"
After upgrading Elixir 1.7 to 1.8 we see this error from Consumer Groups:
[code]
kafka_ex: `0.10.1`
Kafka: Heroku Kafak Add-on, common runtime, multi-tenant plan, Kafka version `2.0.1`
Elixir: `1.8.1`, erlang `21.3.3`

* occurs relatively consistently for particular partition+topic combinations
* using a different Kafka cluster we see different partition+topic combinations
* does not occur using H

[2019-04-26 12:38] joshuawscott commented on #346
Ouch. `hd/1` strikes again.

Does this take down the application?
Are you auto-creating topics? (I noticed the topic name seemed to be numbered)
Do you have high latency (not local network) between the consumer and the broker?

[2019-04-26 16:30] brianlow commented on #346
App continues to run, error is logged periodically (maybe every 10s)

No, Heroku assigns a prefix that we must use on all topic names (e.g. `sabine-84829.`) because it is multi-tenant.

Both are hosted within Heroku. I'll see if I can measure latency.

Interestingly, this error is logged repeated for the certain partition+topic combinations. I'd expect random partition+topic combinations if latenc

[2019-04-26 21:31] brianlow commented on #346
Errors are confined to 2 out of 8 brokers. Every partition on these brokers is affected.

Unable to measure latency, ping blocked.

Any suggestions for debugging?

[2019-04-26 21:41] joshuawscott commented on #346
how many partitions do you have?

[2019-04-26 22:02] brianlow commented on #346
1-8 partitions depending on topic

[2019-04-26 22:28] joshuawscott commented on #346
I'm wondering if having fewer partitions than brokers is what causes it.

[2019-05-22 12:02] jbruggem commented on #169
I think this can be closed.

[2019-05-22 12:08] jbruggem commented on #245
This is now possible, since we can ask the server for the message version it supports. See an example here: https://github.com/kafkaex/kafka_ex/pull/320/files#diff-5ed86f44a0ff14f109f61199ad39cfc1L107

[2019-05-29 19:18] hackmad opened #352 "Produce request with acks = -1 produces an error"
I created a topic with 3 partitions and a replication factor of 3. When using `required_acks=-1` it works the first time but subsequent calls fail with a request timeout even though the message makes its way to the topic.

Configuration:
[code]

This is the output of my tests:

[code]

[2019-05-30 01:18] hackmad commented on #352
This is a non-issue. Specifying a timeout parameter helps.

[code]

[2019-05-30 02:47] bjhaid commented on #352
nice that you figured it out

[2019-05-30 02:47] #352 closed

[2019-06-05 01:01] dantswain commented on #245
So after brainstorming a little with @joshuawscott, I decided to write some code to pull schema definitions from https://github.com/klarna/kafka_protocol (the underlying library used by brod) and use macros to generate Elixir-idiomatic structs and serde code:  https://github.com/dantswain/kayrock

I'm still tweaking it, but I believe it should work.  I have ideas about how it could be integrated w

[2019-06-13 20:53] brianlow commented on #346
Unfortunately #351 did not solve this issue for us. I appreciate the PR though @ukrbublik!

[2019-06-18 13:45] chen116 opened #353 "No able to use kafka_version: "0.10.1" in config"
Hi, I am using the provided config file from (https://hexdocs.pm/kafka_ex/KafkaEx.Config.html), but some how only  kafka_version: "0.8.2" will work for me, when I try "0.9.0" or "0.10.1", i got error as shown below:

======================================================
    ** (EXIT) an exception was raised:
        ** (MatchError) no match of right hand side value: {:error, {:function_clause, [{

[2019-06-18 13:56] joshuawscott commented on #353
It looks like this would happen if it was unable to make an APIVersions request from any of the brokers. This only happens when there's a network error:
https://github.com/kafkaex/kafka_ex/blob/0.10.0/lib/kafka_ex/server.ex#L959

[2019-08-09 08:03] yogodoshi opened #357 "KafkaEx.stream timing out trying to fetch more messages even with no_wait_at_logend"
## Issue description
After banging my head trying to understand why I was getting timeouts from Kafka I noticed that the timeout was on a fetch call where the `offset` param was exactly the last offset of the given partition.

Error:
[code]

Checking that:
[code]
## Debugging

So I went to check how `KafkaEx.stream` worked to see if I was doing something wrong and here is what I found out:

In the

[2019-08-15 02:14] yogodoshi opened #358 "Add Topic and Partition ID to Protocol.Fetch.Message"
On the [Message struct](https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/protocol/fetch.ex#L46) there is the offset field but not the topic or the partition ID. It would be very useful for me if them were there as well, here is why:

[code]

I have a Flow with a `KafkaEx.stream` for each partition and down the road, I don't really have a way to know from which partition each message is

[2019-08-31 18:20] technomage opened #361 "Support current kafka compression types"
Currently kafka supports more compression types by default than kafka_ex which can cause a client to fail when attempting to read such a topic.  In particular confluent platform uses some of the newer compression types.  At a minimum it would be nice to be able to configure kafka_ex to not die on such topics.

[2019-09-04 23:48] chen116 opened #363 "how to use KafkaEx.create_topics/2"
Hi,
I have trouble creating kafka topics using the provided **KafkaEx.create_topics/2**, in the doc(https://hexdocs.pm/kafka_ex/KafkaEx.html#create_topics/2) it shows that the function requires **[KafkaEx.Protocol.CreateTopics.Request.t()]** , so I look into the doc for **KafkaEx.Protocol.CreateTopics** module (https://hexdocs.pm/kafka_ex/KafkaEx.Protocol.CreateTopics.html#create_request/4), in th

[2019-09-05 00:25] chen116 commented on #353
For anyone who might have this problem as well, disable the ssl option worked for me

[2019-09-05 07:18] jbruggem commented on #363
Hi Chen,

indeed, the doc is not clear enough on this. Here's a code sample, I hope it helps !

[code]

[2019-09-05 13:30] chen116 commented on #363
thanks it works!

[2019-09-05 14:49] #353 closed

[2019-09-05 14:50] #363 closed

[2019-09-05 15:00] joshuawscott commented on #358
Fixed in #360

[2019-09-05 15:00] #358 closed

[2019-09-09 00:47] chen116 commented on #261
For anyone that needs the timestamp information from fetch, can use my fork (https://github.com/chen116/kafka_ex/tree/cleantime),  the branch is based on tag 0.10.0.     I have not tested it extensively, and pretty sure I am not following any good code structure, but it is enough for my use such as stream

the changes I made are:  creats an extra function that use api_version=2 https://github.com/

[2019-09-13 02:36] lhrolim opened #365 "Choose partition based on key"
Is there any way to choose which partition to send a message based on a message key?

Other libraries seem to provide such feature out of the box:

https://github.com/SOHU-Co/kafka-node#sendpayloads-cb (node)
https://docs.spring.io/spring-kafka/api/org/springframework/kafka/core/KafkaTemplate.html#send-java.lang.String-java.lang.Integer-K-V- (java)

At this point, would we need to pick the topic m

[2019-09-16 14:32] joshuawscott commented on #365
KafkaEx uses murmur2 hashing by default, which matches the Java client.

If you want to define your own, you can look at https://hexdocs.pm/kafka_ex/KafkaEx.Partitioner.html - the default implementation of that is https://hexdocs.pm/kafka_ex/KafkaEx.DefaultPartitioner.html

[2019-10-10 05:44] kennethito opened #373 "Kayrock based client doesn't respect kpro_schema limitations"
I'm trying to use [current master](https://github.com/kafkaex/kafka_ex/tree/9400a179d5c0252955157bae1d6e37524b04dee6) with kafka_version: "kayrock" against a 2.2.0 kafka cluster.  During app startup, I'm erroring out in the new client's [retrieve_metadata](https://github.com/kafkaex/kafka_ex/blob/9400a179d5c0252955157bae1d6e37524b04dee6/lib/kafka_ex/new/client.ex#L312) on `Kayrock.Metadata.get_req

[2019-10-10 10:24] #373 closed

[2019-10-12 18:18] chen116 opened #376 "Possible to configure batch.size for kafka produce/ Question about lacking producer in kafka_ex"
Hi,

So I am using kafka_ex to send message to my kafka broker and I am seeing jitter in latency by looking at LogAppendTime for individual messages when the sending rate is like 100Hz. So after googling and reading the kafka doc, I am guessing maybe kafka is batching my messages so thats why I am seeing jitter. But then I see that in kafka_ex, you  produce a message to broker directly instead of

[2019-10-12 19:44] dantswain commented on #376
Hi @chen116 .  KafkaEx does not implement a batching producer.  You can batch your own messages using `KafkaEx.produce/2`, though this is admittedly a little opaque since you need to construct your own `ProduceRequest`.

You could build your own producer module relatively easily using a GenServer and having it build up a ProduceRequest.  I don't think we'll be adding this functionality to KafkaEx

[2019-10-12 20:50] chen116 commented on #376
Hi,

Thanks for the reply, so I can safely assuming there is no batching in kafka_ex, and each call to KafkaEx.produce sends out the message immediately (which is what I need) ?

thanks

[2019-10-12 21:12] dantswain commented on #376
Yes*

* "Immediately" assuming we know how to route messages for that partition already - i.e., it's possible we'll have to update topic metadata first, or re-establish a dead connection.  Those things should be infrequent, though.  That is, the normal condition would be to send the message(s) immediately.  It IS possible to have more than one message in a single produce request, but if you use `K

[2019-10-12 21:18] chen116 commented on #376
Ok, thank you so much for clarifying

[2019-10-12 22:55] #376 closed

[2019-10-24 11:57] habutre commented on #291
Hi @joshuawscott  I would like to take this issue. Did you see the need to run some kind of bench during the changes or are you convinced that the benchmark  you ran on referenced issues is enough to go through all modules under `kafka_ex/protocol` and changing to iodata?

[2019-10-24 12:06] dantswain commented on #291
FWIW the new Kayrock-based client produces iolists for every message.

It may still be worth making these improvements, though, since it may take a while for the new client to become adopted.

I don’t think it’s necessary to do benchmarks. iodata is pretty well known to be more efficient than binaries for this kind of use case. If you want to break up the work, you should be able to do these one m

[2019-10-24 12:26] habutre commented on #291
Hey @dantswain  I was exactly thinking about breaking the work up into smaller pieces I mean file by file under protocol, so that I can get used with the code, each change and get also a quick feedback.

Thanks for that initial guidance.

[2019-10-24 15:23] joshuawscott commented on #291
@habutre
I don't see the need for benchmarking; iolists are almost certainly going to be faster.

I think I looked at this before and didn't find any binary concatenations, so I never did anything with it. Feel free to take another look, I definitely could have missed things

[2019-10-24 15:58] habutre commented on #291
To be honest @joshuawscott  that was my first impression I didn't found any case at first look where binary concat could be found. I will focus on find any case otherwise close that issue would be the action to be taken.

[2019-10-29 20:45] habutre commented on #291
Hi guys, I finish the review of this issue and as @joshuawscott told no binary concat was found. Even though I have applied some changes and I really appreciate your review #380.

I got a bit stuck on topic creation request and I would appreciate if someone help me to understand.

The function `KafkaEx.Protocol.CreateTopics.encode_replica_assignment/1` does this concatenation and seems not working

[2019-10-31 15:28] kennethito opened #381 "Kayrock based client doesn't handle tcp_closed"
[code]

This is happening periodically on what looks like a regular interval.  I'm using master at https://github.com/kafkaex/kafka_ex/tree/c93ce47472bff36c41b7c2fa3920449ca342ef8f

It's not latest, but a brief inspection of latest doesn't look to be handling the message either?

[2019-11-10 17:55] joshuawscott commented on #291
@dantswain you've been looking at the protocol stuff more, do you know the answer to this?

[2019-11-13 09:19] brianlow commented on #346
Continue to see this occasionally

- one partition per topic
- Heroku shared Kafka instances
- kafka_ex 0.10, elixir 1.9.0

[2019-11-13 16:34] stephanos opened #385 "Emit Telemetry events"
Hello!

[Telemetry](https://github.com/beam-telemetry/telemetry) is getting traction now that it's included in [Phoenix](https://github.com/phoenixframework/phoenix/commit/4d61eacd83d61899a895167715d8754c5c8187be) and [Ecto](https://github.com/elixir-ecto/ecto/commit/ee8a9ea002f8809825d3bd5a3bc34aa863f223ee) out-of-the-box. What's your stance on emitting telemetry events from this library? Would y

[2019-11-24 16:36] dantswain commented on #291
@habutre Sorry it took me so long to get to this.  The replica assignment encoding looks correct to me, but written in a way that's a little hard to follow.  The create topic v0 schema is (https://kafka.apache.org/protocol#The_Messages_CreateTopics):

[code]

The `encode_replica_assignments/1` function looks like this:

[code]

Which is using the `KafkaEx.Protocol.Common.map_encode/2` function:

[

[2019-11-28 19:50] andrielfn opened #389 "Timeout errors"
Hi all,

It all started in the Heroku review-envs when we upgraded our application from (Erlang 21.3.7 and Elixir 1.8.2) to (Erlang 22.0.7 and Elixir 1.9.1).
We noticed, for some reason, that downgrading Erlang back to 21.3.7 solved the timeouts.

In this first moment, messages were not being consumed/produced and thousands of timeout errors were flooding the logs. Then we bumped to `kafka_ex` 0.1

[2019-11-28 19:54] joshuawscott commented on #389
I would try increasing the `sync_timeout` setting if you haven't already. It defaults to 5000 (ms), but I would recommend setting it higher, say 15_000.

[2019-11-28 21:42] andrielfn commented on #389
Hey @joshrotenberg, I forgot to mention but increasing the `sync_timeout` was one of my attempts. I've just tried one more time with `15_000` and the timeouts are still there.

I also noticed this other error that I believe was not happening on 0.10, but not sure if it's related or not:

[code]

[2019-11-28 22:27] dantswain commented on #389
Is it possible that the ssl config changed?

Also, would it be possible to try different versions of Erlang?  Can you try 22.1?

I vaguely remember running into some ssl-related issues with different erlang versions but I don’t remember the details :(

[2019-11-29 17:15] andrielfn commented on #389
Which config do you mean exactly? But I'd say no, we haven't changed any config in the app nor in the Kafka cluster.

Actually, we are on the 22.1.6 already. I've just tried the 22.1.8 as well but still the same. And to make sure the Erlang version is somehow related, I downgraded to the initial version and it works perfectly, no timeouts at all.

[code]

[2019-11-29 18:03] andrielfn commented on #389
While the 21.3.7 is working fine, the next closest version (22.0.3) available in the Heroku buildpack is already raising the timeouts, so potentially is something related to the major upgrade.

[2019-12-06 15:15] dmitry-semenov commented on #389
Confirming the issue, we had to downgrade to the same version (21.3.7) to avoid timout issues.
At the time of researching the problem we suspected this change to the OTP https://github.com/erlang/otp/pull/2224/files to be the root cause.

[2019-12-06 22:46] stephanos commented on #385
Please let me know if you'd be open to merging anything like this so I know my time is well spent :)

[2019-12-06 22:59] bjhaid commented on #385
I think emitting metrics from kafka_ex is a good idea, maybe start with a simple PoC to engage @dantswain and @joshuawscott interests

[2019-12-07 00:27] dantswain commented on #385
I think this is a great idea. My only concerns are

- keep it general enough that any emitter can be used (i think Phoenix and ecto do a good job with this, essentially you just call a callback)
- don’t impact performance too much
- exactly what should we emit telemetry based on?  There’s quite a lot going on in the client, it could be very chatty
- id prefer to not have to implement this twice (l

[2019-12-14 16:36] stephanos commented on #385
Thank you, I'll put this on my To Do list then :)
Feel free to close this issue if you want, I'll create a PR once I have something presentable.

[2019-12-24 10:36] tanguilp opened #390 "GenConsumer supervisor necessarily launches consumer module as a worker"
In https://github.com/kafkaex/kafka_ex/blob/master/lib/kafka_ex/gen_consumer/supervisor.ex#L92, we can see that the child is launched as a worker.

As a consequence, the shutdown timeout is automatically set to 5_000 ms (among other default settings). However, the child could be implemented as a supervisor, whose timeout would be `:infinity` (the supervisor being in charge of handling his children

[2019-12-24 18:22] joshuawscott commented on #390
I think refactoring to use the child specs would be good, and I think will be required to support Elixir 1.10 without generating compile warnings.

KafkaEx.GenConsumer does additional work besides just supervising, so making it a Supervisor might be problematic.

[2020-01-13 10:44] #205 closed

[2020-01-13 10:44] #197 closed

[2020-01-13 21:16] habutre commented on #291
Hi @dantswain sorry now for my long delay, following the docs to provide the necessary structs to create a topic worked as expected. Thank you for your patience.

Do you believe this issue can be closed since there isn't binary concats anymore?

PS: during my tests I figure out that when you are going to create a topic one should choose between provide a `ReplicaAssignment` or a `partition` and th

[2020-01-21 17:06] shamilpd opened #396 "Producer doesn't handle `not_leader_for_partition` errors"
If the connection to a partition leader is broken, KafkaEx handles it by triggering a metadata request and updating its cached metadata. It is possible that the leader can change while the broker connection is intact. For example you can manually trigger a leader election, reassign partitions, or there can be a network partition with zookeeper that makes the controller think that a partition leade

[2020-01-31 23:18] DWvanGeest commented on #269
@joshuawscott I would argue that it's not, even though logging may be better in some cases. Note that the Kafka broker receiving a `Fetch` with `max_bytes` treates it as a _guideline_. If the first message is larger than `max_bytes`, it's still returned in the response.

https://kafka.apache.org/protocol#The_Messages_Fetch

When this happens, it appears that `kafka_ex` chokes on the larger-than-ex

[2020-02-06 13:20] joshuawscott commented on #269
The answer at this point is to ensure your max_bytes matches the topic's max_bytes. We treat max_bytes as a requirement in kafka_ex, so if it is lower than the topic's max_bytes, the request will fail.

[2020-02-06 13:29] joshuawscott commented on #396
@shamilpd My apologies, I thought I had already responded to this 😞

The fixes you're proposing seem reasonable.

As far as the code you mention in server.ex, that code is a bit of a mess, so I'm frankly not surprised there's a redundant call. I don't see any reason for it, although I might be missing something. If the tests pass, then I would feel pretty comfortable with removing that.

[2020-02-19 22:13] matreyes opened #397 "Add kafka headers to messages, producer and consumer"
Kafka protocol >= 0.11 allows to send arbitrary headers [{key, value}] along with the message payload. This is very useful for metadata as schema version, origin, etc.

[2020-02-25 21:32] pixelvitamina commented on #381
@joshuawscott any hint to fix this issue? thank you!

[2020-02-27 15:51] habutre commented on #397
I am interested in work on this, please let me know how can I help.
It also involves the `kayrock` client, right?

[2020-03-03 18:32] mjparrott commented on #365
@joshuawscott Is the fact that KafkaEx uses the default partitioner (matching the Java client) documented anywhere? I was looking around to see what KafkaEx would do if I only provided the key and this issue is the only reference to this I could find.

[2020-03-04 16:15] mjparrott opened #398 "Default partitioner does not match Java client"
When using KafkaEx to produce to a topic that is also produced to by an application that is using the default Java client, I noticed that the partitions that were being produced to weren't the same in KafkaEx and the Java client.

The reason appears to be how `umurmur2` compares to the Java client.

In KafkaEx, the hash is calculated like so: https://github.com/kafkaex/kafka_ex/blob/403024e2fdd5a6

[2020-03-04 18:04] mjparrott commented on #398
I've made a PR that could possibly PR, it is linked to this issue.

[2020-03-09 08:43] jbruggem commented on #397
@habutre PRs are welcome of course :-). What kind of information do you need to get started ? Some pointers in the code to know where to get started ?

[2020-03-09 08:47] jbruggem commented on #365
@mjparrott it is documented [in the hex docs of KafkaEx.DefaultPartitioner](https://hexdocs.pm/kafka_ex/KafkaEx.DefaultPartitioner.html).

If you believe it could be relevant to document it somewhere else, could you please provide a PR for that ? Thanks a lot !

[2020-03-09 08:55] jbruggem commented on #398
Good catch @mjparrott :+1:

[2020-03-09 10:42] habutre commented on #397
The main point would be if supporting headers should be first implemented on Kayrock and back ported to kafka_ex or the other way around.

I will check the points in the code where changes will be done but if there is a well-know points where this change will affects would be handy

[2020-03-09 12:15] dantswain commented on #397
Kayrock already has support for headers in `Kayrock.RecordBatch.Record` - https://github.com/dantswain/kayrock/blob/master/lib/kayrock/record_batch.ex

It looks like it’s expecting headers to be a binary value and that gets serialized directly. I can do a little digging later today.

[2020-03-09 13:33] dantswain commented on #397
OK I was half-wrong.  Kayrock has the headers field for the v2 message format but it does not appear to properly serialize/deserialize the values.  So you'd need to support that in Kayrock first.

The message spec for headers is here: https://kafka.apache.org/documentation/#recordheader

If you need help with that, feel free to reach out.  I've been quite busy but I can find time.

[2020-03-10 20:50] DWvanGeest commented on #309
I know this is an older bug, but we're seeing similar behavior where timeouts seem to cause "zombie" consumers to stick around after a rebalance. In our case, however, we are not starting `KafkaEx` under the same supervision tree. This is how the consumer is being started:

[code]

`OurApp.KafkaConsumer` has `use KafkaEx.GenConsumer`.

I verified using `:observer` that the `KafkaEx.Supervisor` is

[2020-03-12 09:04] Argonus commented on #389
Hi, any news with that?

[2020-03-12 23:26] adrienmo commented on #346
So we just had the same problem while using kafka_ex with the managed kafka service from confluent.

It seems that they are enabling quotas, when you exceed the quota it will return an empty response with a throttling time. Right now an empty result makes kafka_ex crash.

To fix it we can change the code here:
https://github.com/kafkaex/kafka_ex/blob/0.10.0/lib/kafka_ex/server_0_p_8_p_2.ex#L264

[

[2020-03-14 00:01] joshuawscott commented on #309
@DWvanGeest perhaps you could open a new issue on this? Can you provide your consumer_group_opts there?

[2020-03-14 00:03] joshuawscott commented on #346
@adrienmo That seems like a perfectly reasonable fix - feel free to open a PR with that and I can get it merged.

[2020-03-14 00:04] #365 closed

[2020-03-16 01:54] MichaelViveros opened #401 "Multiple consumers working the same partition in consumer group"
Within our consumer group, we've noticed the same message being processed by multiple consumers that appear to be working the same partitions, which should never happen.

This behaviour seems similar to https://github.com/kafkaex/kafka_ex/issues/309#issuecomment-597307779 where "zombie" consumers stick around after a rebalance but it is different since we are not starting KafkaEx under the same su

[2020-03-16 01:56] MichaelViveros commented on #309
Hi @joshuawscott, I'm taking over for David and submitted a new issue for this, https://github.com/kafkaex/kafka_ex/issues/401.

[2020-03-16 05:50] adrienmo commented on #346
@joshuawscott Would this PR be based on master or on the tag 0.10.0 ?

[2020-03-16 12:25] dantswain commented on #346
@adrienmo Against master, please.  If you have a moment could you check `lib/kafka_ex/new/client.ex` for a similar problem?  That code is based on this code.  It might be good to log a warning with the bad response when this happens.

[2020-03-19 01:49] #346 closed

[2020-03-31 14:50] jbruggem commented on #389
FYI, I created an issue on the OTP project.

https://bugs.erlang.org/browse/ERL-1213

I'm not sure what we can really do in the mean time, we can try silently re-create a socket every time there's a timeout, but that sounds like a bad idea.

[2020-03-31 20:22] robotarmy commented on #401
Hi

[2020-03-31 20:29] robotarmy commented on #401
Hi. Just a follow up on this Issue - I'm also looking into this problem.

`  @topic "topic_name"
  @consumer_group "consumer-group-name"
  @consumer_group_opts [
    auto_offset_reset: :latest,
    # increase throughput by delivering more messages at a time
    # broker will wait up to wait_time ms in an attempt to collect min_bytes of messages
    fetch_options: [wait_time: 10, min_bytes: 64_000,

[2020-04-01 03:22] joshuawscott commented on #401
So, if a consumer dies without having committed an offset, that offset will be re-processed by a future worker. I just want to make sure that's not the issue. It's possible to avoid this, but not by using the out-of-the-box offset storage.

[2020-04-01 03:30] joshuawscott commented on #401
@MichaelViveros That config looks correct. I have not noticed this happening, even in an environment where we are consuming over the WAN and have a lot of timeouts in Kafka 1.1. This makes me wonder if there's an issue with 0.10 perhaps.

Do you have any application logs around the time this happened?

Also, please feel free to mention me on the Elixir Slack #kafkaex channel if you don't hear back

[2020-04-01 07:34] jbruggem commented on #389
I'm not sure any more this is really due to OTP 22. I can't get the tests to pass either with Elixir 1.9 and OTP 21 here: https://travis-ci.org/github/kafkaex/kafka_ex/jobs/669283700#L415

[2020-04-02 01:33] MichaelViveros commented on #401
@joshuawscott Here are some logs from different Kafka errors we've received. We've noticed two cases for the duplicate consumes - one where different consumers within the consumer group are consuming from the same partition and one where different consumer partition processes within the same consumer are consuming from the same partition. The latter seems to be more common as of late.

[code]

[co

[2020-04-04 02:00] joshuawscott commented on #401
It looks like you're running version 0.10.0 - can you see if `master` still has the same problems? There are several fixes in master that haven't been released yet:
https://github.com/kafkaex/kafka_ex/compare/0.10.0...master#diff-054499be3aaf506260a04d188f334e26R208-R215
Adds the following to gen_consumer.ex:
[code]

https://github.com/kafkaex/kafka_ex/compare/0.10.0...master#diff-054499be3aaf5062

[2020-04-06 19:49] MichaelViveros commented on #401
That's great to hear! We implemented another work-around already though but we are considering doing this as well, I will keep you posted. If you don't hear back from me in a week, feel free to close this issue.

[2020-04-06 19:53] robotarmy commented on #401
I evaluated the new master patches and they do seem to behave well - I'm triggering client errors by removing and replacing /brokers/ids in ZK - that and brining up and down nodes in the cluster - the new heartbeat error handling and the terminate block seems to help - It is much harder to try to get the not_leader_for_partition error triggering.

@joshuawscott Would it be possible to cut a tag 0.

[2020-04-06 21:51] joshuawscott commented on #401
@dantswain any issues with releasing master?

[2020-04-09 05:54] jbruggem commented on #389
I tested many versions of OTP. The problem appears in OTP 21.3. With OTP 21.2 and lower, things are fine:

https://github.com/jbruggem/kafka_ex_ssl_bug#run-many-times

[2020-04-09 11:50] dantswain commented on #389
Thank you for following up on this so thoroughly!

[2020-04-10 11:24] dantswain commented on #389
@jbruggem whats the conclusion here? I’ll get kayrock patched ASAP but my understanding was that’s not the bug but rather a compilation problem you discovered while hunting the bug.

[2020-04-10 12:11] jbruggem commented on #389
Nothing changes here, still waiting for somebody to dig into this. [It will take a few days at least](https://bugs.erlang.org/browse/ERL-1213).

I'm not sure you need to patch Kayrock, as your dependency definition allows for `crc32cer` to use more recent versions.

[2020-04-10 12:18] dantswain commented on #389
Should we re-open the issue then?

[2020-04-12 13:50] jbruggem commented on #389
My bad. I closed this by mistake and didn't even realize.

[2020-04-22 20:05] jbruggem commented on #389
News from upstream: after many back-and-forth to help a very dedicated OTP dev figure out the issue, [:tada: she did :tada:](https://bugs.erlang.org/browse/ERL-1213?focusedCommentId=17613&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-17613) !

From the issue:

There's nothing more to do on our side, except update the the documentation to mention this bug and the CI